// ==========================================================================
// Settings - Colors
// ==========================================================================

$white: #fff !default;
$white-rich: #ECF0F1 !default;

$black: #000 !default;
$black-rich: #212121 !default;

$gray-light: #BDC3C7 !default;
$gray: #95A5A6 !default;
$gray-dark: #7F8C8D !default;

$colors: () !default;
