<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Component Guide | Backpack Style Prototype</title>

    <meta name="viewport" content="width=device-width">

    <!-- Prototype CSS -->
    <link rel="stylesheet" href="/page/css/prototype.css">
    
    <!-- Prism CSS -->
    <link rel="stylesheet" href="/page/components/prism/prism-okaidia.css">
    

    <!-- Async Webfonts -->
    



    <!-- Modernizr stays in the head -->
    <script src="/page/components/modernizr/modernizr.js"></script>
  </head>

  <body>
    <div id="prototype-header">
      <div class="content-wrapper">
        <header>
  <div id="client-id">
    
      <h1 class="client-name">Backpack</h1>
    
  </div>
  <aside id="page-id">
    <h2 class="section-name">Component Guide</h2>
    <div class="page-info">
      <p>Backpack Style Prototype</p>
      <p>Version 0.0.0</p>
    </div>
  </aside>
</header>
      </div>
    </div>

    <div id="prototype-nav">
      <div class="content-wrapper">
        <nav role="navigation">
  <div role="menubar">
    
    <a href="/" role="menuitem">Home</a>
    
    <a href="/style-tile" role="menuitem">Style Tile</a>
    
    <a href="/elements" role="menuitem">Elements</a>
    
    <a href="/typography" role="menuitem">Typography</a>
    
    <a href="/components" role="menuitem">Components</a>
    
    <a href="/colors" role="menuitem">Colors</a>
    
  </div>
</nav>
      </div>
    </div>

    <main>
      <div class="content-wrapper">
        

<article class="messaging">
  <header>
    <h2>Messages</h2>
  </header>
  <div class="messages group">
  <ul component-list>
  
    <li>
      <div class="messages status">
        <h2 class="element-invisisble">status message</h2>
        <p>This is a <em>status</em> message.</p>
      </div>
      
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages status"&gt;
  &lt;h2 class="element-invisisble"&gt;status message&lt;/h2&gt;
  &lt;p>This is a &lt;em&gt;status&lt;/em&gt; message.&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
      
    </li>
  
    <li>
      <div class="messages warning">
        <h2 class="element-invisisble">warning message</h2>
        <p>This is a <em>warning</em> message.</p>
      </div>
      
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages warning"&gt;
  &lt;h2 class="element-invisisble"&gt;warning message&lt;/h2&gt;
  &lt;p>This is a &lt;em&gt;warning&lt;/em&gt; message.&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
      
    </li>
  
    <li>
      <div class="messages error">
        <h2 class="element-invisisble">error message</h2>
        <p>This is a <em>error</em> message.</p>
      </div>
      
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages error"&gt;
  &lt;h2 class="element-invisisble"&gt;error message&lt;/h2&gt;
  &lt;p>This is a &lt;em&gt;error&lt;/em&gt; message.&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
      
    </li>
  
</div>
</article>

<article class="buttons">
  <header>
    <h2>Buttons</h2>
  </header>
  <div class="buttons group">
  <ul component-list>
    
      
      <li>
        <a class="call-to-action" href="#">Call to Action</a>
        
        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="call-to-action" href="#"&gt;Call to Action&lt;/a&gt;</code></pre>
        </details>

        
      </li>
      
    
      
      <li>
        <a class="big-button" href="#">Big Button</a>
        
        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="big-button" href="#"&gt;Big Button&lt;/a&gt;</code></pre>
        </details>

        
      </li>
      
    
      
      <li>
        <a class="big-button red" href="#">Warning Button</a>
        
        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="big-button red" href="#"&gt;Warning Button&lt;/a&gt;</code></pre>
        </details>

        
      </li>
      
    
  </ul>
</div>
</article>

<article class="pagers">
  <header>
    <h2>Pagers</h2>
  </header>
  <div class="pagers group">
  <ul class="pager">
    <li class="pager-first">
      <a href="#" title="Go to the first page"> « First</a>
    </li>
    <li class="pager-previous">
      <a href="#" title="Go to the previous page"> ‹ Previous</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 1">1</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 2">2</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 3">3</a>
    </li>
    <li class="pager-next">
      <a href="#" title="Go to the next page"> Next ›</a>
    </li>
    <li class="pager-last">
      <a href="#" title="Go to the last page"> Last »</a>
    </li>
  </ul>
  
  <details>
    <summary>HTML Source</summary>
    <pre class="example"><code class="language-markup">&lt;ul class="pager"&gt;
  &lt;li class="pager-first"&gt;
    &lt;a href="#" title="Go to the first page"&gt; « First&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-previous"&gt;
    &lt;a href="#" title="Go to the previous page"&gt; ‹ Previous&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 1"&gt;1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 2"&gt;2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 3"&gt;3&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-next"&gt;
    &lt;a href="#" title="Go to the next page"&gt; Next ›&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-last"&gt;
    &lt;a href="#" title="Go to the last page"&gt; Last »&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </details>
  
</div>
</article>
      </div>
    </main>

    <!-- JavaScript goes in the footer! -->
    
    <!-- Prism JavaScript -->
    <script src="/page/components/prism/prism.js"></script>
    <!-- Polyfill for Details element -->
    <script src="/page/components/Element.details/__COMPILE/Element.details.js"></script>
    

  
  </body>
</html>