<aside class="sg-sidebar">
    <nav class="sg-navContainer">
      <ul class="sg-nav">
        {{#each collections }}
          <li class="sg-nav-item">
            <span class="sg-nav-section">{{ format @key }}</span>
            <ul class="sg-subnav">
              {{#each this }}
                <li class="sg-subnav-item">
                  <a href="/{{ this.path }}">{{ this.title }}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </nav>
</aside>
