/**
*
* Guidebook Stylesheet
*
**/

/* ==========================================================================
   Imports
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Source+Code+Pro);

/* ==========================================================================
   Globals
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body.sg {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

.sgWrapper {
    padding: 1em;
}

.text-center {
    text-align: center;
}
