/*
   Footer
   ========================================================================== */

sg-footer {
    font-family: $sg-font-text;
    background-color: $sg-footer-bg-color;
    color: #74899E;
    .sg-footer {
        font-size: 0.85em;
        &.sgWrapper {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
    }
}
