/*
   Header
   ========================================================================== */

sg-header {
    font-family: $sg-font-text;
    background-color: $sg-header-bg-color;
    color: #fff;
    .sg-header {
        &.sgLogo {
            a,
            a:visited {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                color: #fff;
            }
        }

    }
}
