# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = tabs
indent_size = 2

[*.html, *.haml]
indent_style = tabs
indent_size = 2

[*.css, *.scss, *.sass, *.less, *.stylus]
indent_style = tabs
indent_size = 2

[*.js, *.coffee]
indent_style = tabs
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
