# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = space
indent_size = 4

[*.html, *.haml, *.jade, *.md]
indent_style = space
indent_size = 4

[*.css, *.scss, *.sass, *.less, *.stylus]
indent_style = space
indent_size = 4

[*.js, *.coffee]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
