$base-font-family: "Gotham", Helvetica, Arial, sans-serif;

$white: #FFFFFF;
$white-rich: #ECF0F1;

// From Flat UI
$gray-light: #BDC3C7;
$gray: #95A5A6;
$gray-dark: #7F8C8D;

// Alternate
// $gray-light: #E9E9E9;
// $gray: #BCBCBC;
// $gray-dark: #424242;

$black: #000000;
$black-rich: ;
