/* ==========================================================================
   Helpers - Dev stuff
   ========================================================================== */

.dev .mq-indicator:after {
  font-style: italic;
}

@media screen and (max-width: $screen-xsmall) {
  .dev .mq-indicator {
    content: "x-small";
  }
}

@media screen and (min-width: $screen-small + 1) and (max-width: $screen-small - 1) {
  .dev .mq-indicator {
    content: "small";
  }
}

@media screen and (min-width: $screen-medium) {
  .dev .mq-indicator {
    content: "medium";
  }
}

@media screen and (min-width: $screen-large) and (max-width: $screen-xlarge - 1) {
  .dev .mq-indicator {
    content: "large";
  }
}

@media screen and (min-width: $screen-xlarge) {
  .dev .mq-indicator:after {
    content: "x-large";
  }
}

// CSS Diagnostics - http://css-tricks.com/snippets/css/css-diagnostics/

/* Empty Elements */
// div:empty, span:empty, li:empty, p:empty, td:empty, th:empty {
//   padding: 20px;
//   border: 5px dotted yellow !important;
// }

/* Empty Attributes */
// *[alt=""], *[title=""], *[class=""], *[id=""], a[href=""] {
//   border: 5px solid yellow !important;
// }

/* Deprecated Elements */
// applet, basefont, center, dir, font, isindex, menu, s, strike, u {
//   border: 5px dotted red !important;
// }

/* Deprecated Attributes */
// *[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start],
// *[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink],
// *[align], *[valign],
// *[hspace], *[vspace],
// *[height], *[width],
// ul[type], ol[type], li[type] {
//   border: 5px solid red !important;
// }

/* Proposed Deprecated Elements */
// input[type="button"], big, tt {
//   border: 5px dotted #33FF00 !important;
// }

/* Proposed Deprecated Attributes */
// *[border], a[target], table[cellpadding], table[cellspacing], *[name] {
//   border: 5px solid #33FF00 !important;
// }
