// ==========================================================================
// Backpack - Helpers
// @description: Helpers and overrides
// ==========================================================================

@import "dev";
@import "helpers";
@import "spacing";
@import 'typography';

//
// --> put these on separate files
// ==========================================================================

$visible: is-visible !default;
$hidden: is-hidden !default;
$visually-hidden: is-visually-hidden !default;
$disabled: is-disabled !default;

%is-visible,
.#{$visible} {
  display: block;
}

%is-hidden,
.#{$hidden} {
  display: none;
}

// This is to hide an element to the user but not for screen readers
.#{$visually-hidden},
%visually-hidden {
  position: absolute;
  width: 1px;  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

%is-disabled,
.#{$disabled} {
  pointer-events: none;
}

//
// Borders
// ==========================================================================

$helpers-border: true !default;

$border-top: u-border-top;
$border-right: u-border-right;
$border-bottom: u-border-bottom;
$border-left: u-border-left;

%u-border-top {
  border-top: 1px solid $light-gray;
}

%u-border-right {
  border-right: 1px solid $light-gray;
}

%u-border-bottom {
  border-bottom: 1px solid $light-gray;
}

%u-border-left {
  border-left: 1px solid $light-gray;
}

@if $helpers-border {

  .#{$border-top} {
    @extend %u-border-top;
  }

  .#{$border-right} {
    @extend %u-border-right;
  }

  .#{$border-bottom} {
    @extend %u-border-bottom;
  }

  .#{$border-left} {
    @extend %u-border-left;
  }

}
