@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Source+Code+Pro);
/**
*
* Guidebook Stylesheet
*
**/
/*
   Variables
   ========================================================================== */
/*
   Imports
   ========================================================================== */
/*
   Helpers
   ========================================================================== */
.sg-example-snippet {
  *zoom: 1; }
.sg-example-snippet:before, .sg-example-snippet:after {
  content: "";
  display: table; }
.sg-example-snippet:after {
  clear: both; }

/*
   Media Queries
   ========================================================================== */
/*
   Globals
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

body.sg {
  margin: 0;
  padding: 0;
  background-color: #EEE; }

/*
   Grid Helpers
   ========================================================================== */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px; }

.show-grid [class*="col"] {
  position: relative;
  min-height: 40px;
  line-height: 40px;
  background-color: #3498db; }

.show-grid [class*="col"] p {
  margin: 10px 0;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: #FEFEFE;
  background-color: #2980b9;
  text-shadow: 0 1px 0 #6b06a3; }

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0; }

.show-grid .show-grid [class*="col"] {
  margin-top: 5px; }

.show-grid [class*="col"] [class*="col"] {
  outline: none; }

#gridOverlay {
  position: relative;
  z-index: 9001;
  overflow: visible !important;
  width: 100%;
  margin: 0 auto;
  pointer-events: none; }
  #gridOverlay .grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0; }
  #gridOverlay .grid-container div {
    float: left;
    height: 100%;
    background: rgba(170, 219, 245, 0.2); }
    #gridOverlay .grid-container div:last-child {
      margin: 0; }

/*
   Styleguide layout
   ========================================================================== */
.sg-bar {
  position: relative;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  background-color: #222E3D;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .sg-bar ul {
    height: 24px;
    margin: 0;
    padding: 0; }
    .sg-bar ul li {
      display: block;
      float: left;
      height: 24px;
      margin: 0;
      padding: 0;
      border-left: 1px solid rgba(100, 100, 100, 0.5); }
  .sg-bar a, .sg-bar a:visited {
    display: block;
    height: 100%;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5); }

.sg-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sg-site-header {
  z-index: 1;
  width: 100vw;
  background-color: #222e3d; }
  .sg-site-header * {
    font-family: "Montserrat", sans-serif; }
  .sg-site-header .sg-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.sg-page-header {
  width: 100vw;
  padding: 2em 0;
  background-color: #39414d; }
  .sg-page-header * {
    color: #FFF !important; }
  .sg-page-header .sg-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.sg-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .sg-content > .sg-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.sg-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch; }
  .sg-main .sg-wrapper {
    width: 978px;
    padding: 0; }

.sg-toc {
  position: relative;
  width: 15%;
  padding: 5em 1em;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.sg-sidebar {
  width: 15%;
  padding: 2em 2em 2em 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }
  .sg-sidebar p.sg, .sg-sidebar ul.sg li {
    color: #FFF; }

.sg-site-footer {
  width: 100%;
  padding: 0.5em 0;
  font-size: 0.8rem;
  color: #FFF;
  background-color: #222222; }
  .sg-site-footer p.sg {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFF; }

/*==========  Site Header  ==========*/
.sg-title {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff; }
  .sg-title .sg-logo a {
    text-decoration: none;
    color: #ffffff; }
  @media screen and (max-width: 320px) {
    .sg-title {
      min-width: 100%;
      max-width: 100%;
      color: red; } }

.sg-tools {
  padding: 0 3em;
  font-family: "Roboto", sans-serif;
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  @media screen and (max-width: 320px) {
    .sg-tools {
      display: none; } }
  .sg-tools ul {
    height: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .sg-tools ul li {
      line-height: 60px; }

/*==========  Main Content  ==========*/
.sg-section {
  width: 100%;
  padding: 2em 0;
  background-color: white; }

.sg-wrapper {
  width: 90%;
  padding: 0 2em;
  margin: 0 auto; }

.sg-toc #toc {
  position: fixed;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2); }
  .sg-toc #toc:empty {
    display: none; }
.sg-toc i {
  display: none; }
.sg-toc ol, .sg-toc ul {
  margin: 0;
  padding: 0; }
.sg-toc li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.sg-toc a, .sg-toc a:link, .sg-toc a:visited {
  display: block;
  padding: 0 1em;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  text-decoration: none;
  color: #666; }
.sg-toc a:hover {
  color: tomato; }
.sg-toc #toc > ol > li > a {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.02); }
.sg-toc ol ol {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/*==========  Navigation  ==========*/
@media screen and (max-width: 320px) {
  .sg-menu {
    position: relative;
    top: 0;
    min-width: 100%;
    max-width: 100%; } }
.sg-menu * {
  font-family: "Roboto", sans-serif; }
.sg-menu > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media screen and (max-width: 320px) {
    .sg-menu > ul {
      position: relative;
      top: 0;
      min-width: 100%;
      max-width: 100%; } }
  .sg-menu > ul li {
    position: relative;
    display: block;
    width: 100%; }
    .sg-menu > ul li a {
      display: block;
      text-decoration: none; }
  .sg-menu > ul > li {
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
    color: #2980b9; }
    .sg-menu > ul > li > a {
      padding: 0 2rem;
      color: #2980b9; }
  .sg-menu > ul ul {
    margin: 0;
    padding: 0; }
    .sg-menu > ul ul li {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      text-transform: none; }
    .sg-menu > ul ul a {
      padding: 0;
      color: #34495e; }

.sg-top-menu {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .sg-top-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .sg-top-menu li {
    height: 60px;
    margin: 0;
    padding: 0; }
  .sg-top-menu a, .sg-top-menu a:visited {
    display: block;
    padding: 0 1em;
    line-height: 60px;
    text-decoration: none;
    color: #FFF; }
  .sg-top-menu a:hover {
    background: #222e3d; }

/*
   Styleguide examples
   ========================================================================== */
.sg-example {
  margin: 2em 0;
  background-color: #ffffff; }

.sg-grid, ul.sg-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 0;
  list-style: none;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.sg-grid-item {
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .sg-grid-item .sg-swatch {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .sg-grid-item .sg-label {
    padding: 0.5em 0;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }

.sg-example-snippet {
  width: 1018px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 978px;
      -ms-flex: 0 0 978px;
          flex: 0 0 978px; }
  .sg-example-snippet > div {
    min-height: 0 !important;
    margin-bottom: 0 !important; }
  .sg-example-snippet > h1, .sg-example-snippet > h2, .sg-example-snippet > h3, .sg-example-snippet > h4, .sg-example-snippet > h5, .sg-example-snippet > h6 {
    margin: 1rem 0 !important; }

.sg-example-code {
  overflow: hidden;
  margin: 2em 0;
  border-radius: 8px;
  background-color: #f5f2f0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .sg-example-code pre {
    margin: 0;
    padding: 0; }
  .sg-example-code .sg-btn {
    margin: 1em;
    font-size: 10px;
    border-width: 1px;
    border-color: #CCC;
    background-color: #FFF; }
  .sg-example-code .sg-btn-copy {
    font-family: "Montserrat", sans-serif; }

.sg-example-code pre {
  margin: 0; }

/*
   Styleguide typography
   ========================================================================== */
h1.sg, .sg-wrapper > h1, h2.sg, .sg-wrapper > h2, h3.sg, .sg-wrapper > h3, h4.sg, .sg-wrapper > h4, h5.sg, .sg-wrapper > h5, h6.sg, .sg-wrapper > h6, .sg-content .sg-wrapper > p, ul.sg li, .sg-page-title, .sg-page-category, .sg-note p {
  font-family: "Montserrat", sans-serif;
  color: #444; }

h1.sg, .sg-wrapper > h1 {
  margin: 0 0 0.5em 0;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -1px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1); }

h2.sg, .sg-wrapper > h2 {
  margin: 2rem 0 1rem 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
  color: #7C90A8; }

h3.sg, .sg-wrapper > h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.125em;
  line-height: 1.22222em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

h4.sg, .sg-wrapper > h4 {
  margin: 0;
  font-size: 0.83rem;
  line-height: 1rem; }

h5.sg, .sg-wrapper > h5 {
  font-size: 0.75rem;
  line-height: 1rem; }

h3.sg + h4.sg {
  margin-top: 1rem; }

.sg-content .sg-wrapper > p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.25em; }

ul.sg li {
  font-family: "Roboto", sans-serif; }

.sg-page-title {
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em; }

.sg-page-category {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase; }

.sg-page-description {
  font-size: 1.2em;
  margin: 0; }

.sg-content .sg-wrapper > p.sg-pattern-description {
  font-size: 1.5em; }

.sg-note {
  margin-bottom: 1rem;
  padding: 0.75em 1em;
  border: 3px solid #B2DFEE;
  border-radius: 8px;
  background-color: #ECF0F4; }
  .sg-note p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #36AFD7; }
    .sg-note p:last-child {
      margin-bottom: 0; }

/*
   Buttons
   ========================================================================== */
.sg-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #56A7D4;
  border: 2px solid #56A7D4;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0); }
  .sg-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #56A7D4; }

/*
   Table
   ========================================================================== */
table.sg, .sg-wrapper > table {
  width: 100%;
  margin: 1em 0;
  border-spacing: 0;
  border-collapse: separate; }
  table.sg th, table.sg td, .sg-wrapper > table th, .sg-wrapper > table td {
    padding: 1em;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC; }
  table.sg thead th, .sg-wrapper > table thead th {
    text-align: left;
    border-top: 1px solid #CCC;
    border-bottom-width: 2px; }
    table.sg thead th:first-child, .sg-wrapper > table thead th:first-child {
      border-top-left-radius: 4px; }
    table.sg thead th:last-child, .sg-wrapper > table thead th:last-child {
      border-right: 1px solid #CCC;
      border-top-right-radius: 4px; }
  table.sg tbody th, .sg-wrapper > table tbody th {
    text-align: left; }
  table.sg tbody th:last-child, .sg-wrapper > table tbody th:last-child {
    border-right: 1px solid #CCC; }
  table.sg tbody td:last-child, .sg-wrapper > table tbody td:last-child {
    border-right: 1px solid #CCC; }
  table.sg tbody tr:last-child th, table.sg tbody tr:last-child td, .sg-wrapper > table tbody tr:last-child th, .sg-wrapper > table tbody tr:last-child td {
    border-bottom: 1px solid #CCC; }
  table.sg tbody tr:last-child th:first-child, table.sg tbody tr:last-child td:first-child, .sg-wrapper > table tbody tr:last-child th:first-child, .sg-wrapper > table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  table.sg tbody tr:last-child td:last-child, .sg-wrapper > table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }
