// ==========================================================================
// Base - Headings
// ==========================================================================

//
// Class names
// ==========================================================================

$h1: Heading--xxlarge !default;
$h2: Heading--xlarge !default;
$h3: Heading--large !default;
$h4: Heading--medium !default;
$h5: Heading--small !default;
$h6: Heading--xsmall !default;

//
// Variables
// ==========================================================================

// Header color
$h1-color: $heading-color !default;
$h2-color: $heading-color !default;
$h3-color: $heading-color !default;
$h4-color: $heading-color !default;
$h5-color: $heading-color !default;
$h6-color: $heading-color !default;

// Header font size
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.75 * $base-font-size !default;

//
// Default
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em; // Reset heading font-size
    margin: 0 0 1em 0; // Reset heading margin
}

%heading-common {
    clear: both;
    text-rendering: optimizeLegibility;
}

.#{$h1} {
    @extend %heading-common;
    color: $h1-color;
    font-size: $h1-font-size;
}

.#{$h2} {
    @extend %heading-common;
    color: $h2-color;
    font-size: $h2-font-size;
}

.#{$h3} {
    @extend %heading-common;
    color: $h3-color;
    font-size: $h3-font-size;
}

.#{$h4} {
    @extend %heading-common;
    color: $h4-color;
    font-size: $h4-font-size;
}

.#{$h5} {
    @extend %heading-common;
    color: $h5-color;
    font-size: $h5-font-size;
}

.#{$h6} {
    @extend %heading-common;
    color: $h6-color;
    font-size: $h6-font-size;
}
