---
layout: component.hbs
section: component
title: Badges
---

<h3 class="sg">Basic badge</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <span class="badge">3</span>
  <span class="badge">96</span>
  <span class="badge">Badge</span>
</div>
