---
layout: component.hbs
section: component
title: Forms
---
<h3>Basic form</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <form action="">
    <label for="">Normal Input </label>
    <input type="text">
    <label for="">Email Input</label>
    <input type="email">
    <label for="">Search Input</label>
    <input type="search" placeholder="Search...">
    <label for="">Telephone Input</label>
    <input type="tel">
    <label for="">Url Input</label>
    <input type="url" placeholder="http://iweb.com/">
    <label for="">Textarea</label>
    <textarea name="" id="" cols="30" rows="10"> </textarea>
    <label for="">Datalist</label>
    <input list="browsers">
    <datalist id="browsers">
      <option value="Internet Explorer">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>
    <input type="submit" value="Submit">
    <button>Cancel</button>
  </form>
</div>

<h3>Checkboxes and radio buttons</h3>
<h4>Basic checkboxes</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="cb1">
    <input id="cb1" type="checkbox">
    Checkbox
  </label>
  <label for="cb2">
    <input id="cb2" type="checkbox">
    Checkbox 2
  </label>
</div>
<h4>Basic radio buttons</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="radio1">
    <input id="radio1" type="radio" name="radio-group">
    Radio
  </label>
  <label for="radio2">
    <input id="radio2" type="radio" name="radio-group">
    Radio 2
  </label>
</div>
<h4>Fancy checkboxes</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="fc1" class="checkbox">
    <input id="fc1" type="checkbox" name="fc" checked>
    <span class="control-indicator"></span>
    Fancy checkbox
  </label>
  <label for="fc2" class="checkbox">
    <input id="fc2" type="checkbox" name="fc">
    <span class="control-indicator"></span>
    Fancy checkbox
  </label>
</div>
<h4>Fancy radio buttons</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="fr1" class="radio">
    <input id="fr1" type="radio" name="fr" checked>
    <span class="control-indicator"></span>
    Fancy radio button
  </label>
  <label for="fr2" class="radio">
    <input id="fr2" type="radio" name="fr">
    <span class="control-indicator"></span>
    Fancy radio button
  </label>
</div>

<h3>Select lists</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="">Select</label>
  <select name="" id="">
    <option value="">Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
  </select>
</div>

<h3>Numbers</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="">Number Input</label>
  <input type="number" min="1" max="5">
</div>

<h3>Sliders</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <label for="">Range Input</label>
  <input type="range" min="1" max="10">
</div>

<h3>Disabled input</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <form action="">
    <label for="">A disabled text field</label>
    <input type="text" placeholder="A disabled text field" disabled>
  </form>
</div>

<h3>Fieldset</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <form action="">
    <fieldset>
      <legend>Processor</legend>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      <label for="r1">
        <input id="r1" type="radio" name="radio-group2">
        Radio
      </label>
      <label for="r2">
        <input id="r2" type="radio" name="radio-group2">
        Radio 2
      </label>
    </fieldset>
    <fieldset>
      <legend>Ram</legend>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      <label for="r3">
        <input id="r3" type="radio" name="radio-group3">
        Radio 3
      </label>
      <label for="r4">
        <input id="r4" type="radio" name="radio-group3">
        Radio 4
      </label>
    </fieldset>
  </form>
</div>
