---
layout: component.hbs
section: component
title: Tables
---
<h3 class="sg">Basic messages</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <table>
    <thead>
      <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th>Heading</th>
        <th>Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </tbody>
  </table>
</div>
