---
layout: component.hbs
section: component
title: Tooltips
---
<h3 class="sg">Default Tooltip</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <span class="tooltip" data-tooltip="Hello World">Foo bar</span>
</div>
<h3 class="sg">Tooltip position</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <span class="tooltip" data-tooltip="Hello World thi sis osos graei dso onso osjo" data-tooltip-position="top">Position top</span>
  <br>
  <span class="tooltip" data-tooltip="Hello World thi sis osos graei dso onso osjo" data-tooltip-position="right">Position right</span>
  <br>
  <span class="tooltip" data-tooltip="Hello World i dso onso osjo is so bottom is so bottom" data-tooltip-position="bottom">Position bottom</span>
  <br>
  <span class="tooltip" data-tooltip="Hello World thi sis osos graei dso onso osjo" data-tooltip-position="left">Position left</span>
</div>
