// ==========================================================================
// Helpers - Spacing
// @status: Not Ready
// ==========================================================================

$helpers-spacing: true !default;

$mt-0: u-mt-0 !default;
$mt-1: u-mt-1 !default;
$mt-2: u-mt-2 !default;
$mt-3: u-mt-3 !default;

$mr-0: u-mr-0 !default;
$mr-1: u-mr-1 !default;
$mr-2: u-mr-2 !default;
$mr-3: u-mr-3 !default;

$mb-0: u-mb-0 !default;
$mb-1: u-mb-1 !default;
$mb-2: u-mb-2 !default;
$mb-3: u-mb-3 !default;

$ml-0: u-ml-0 !default;
$ml-1: u-ml-1 !default;
$ml-2: u-ml-2 !default;
$ml-3: u-ml-3 !default;

$spacing: 1em !default;

@mixin margin($direction, $base, $multiplier) {
   margin-#{$direction}: $base * $multiplier;
}

@if $helpers-spacing {
    // TODO: put placeholder outside to be accessible

    // Margin - Top
    %u-mt-0,
    .#{$mt-0} {
        @include margin(top, $spacing, 0);
    }

    %u-mt-1,
    .#{$mt-1} {
        @include margin(top, $spacing, 1);
    }

    %u-mt-2,
    .#{$mt-2} {
        @include margin(top, $spacing, 2);
    }

    %u-mt-3,
    .#{$mt-3} {
        @include margin(top, $spacing, 3);
    }

    // Margin - Right
    %u-mr-0,
    .#{$mr-0} {
        @include margin(right, $spacing, 0);
    }

    %u-mr-1,
    .#{$mr-1} {
        @include margin(right, $spacing, 1);
    }

    %u-mr-2,
    .#{$mr-2} {
        @include margin(right, $spacing, 2);
    }

    %u-mr-3,
    .#{$mr-3} {
        @include margin(right, $spacing, 3);
    }

    // Margin - Bottom
    %u-mb-0,
    .#{$mb-0} {
        @include margin(bottom, $spacing, 0);
    }

    %u-mb-1,
    .#{$mb-1} {
        @include margin(bottom, $spacing, 1);
    }

    %u-mb-2,
    .#{$mb-2} {
        @include margin(bottom, $spacing, 2);
    }

    %u-mb-3,
    .#{$mb-3} {
        @include margin(bottom, $spacing, 3);
    }

    // Margin - Left
    %u-ml-0,
    .#{$ml-0} {
        @include margin(left, $spacing, 0);
    }

    %u-ml-1,
    .#{$ml-1} {
        @include margin(left, $spacing, 1);
    }

    %u-ml-2,
    .#{$ml-2} {
        @include margin(left, $spacing, 2);
    }

    %u-ml-3,
    .#{$ml-3} {
        @include margin(left, $spacing, 3);
    }
}
