/* ==========================================================================
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  clear: both;
  small {
    font-weight: normal;
    color: #999;
  }
}

.subheader {
    font-weight: normal;
    color: #999;
}

h1 {
  @include adjust-font-size-to(36px);
  + h2 {
        margin-top: .5em;
  }

    + .#{$row} {
        margin-top: 0;
    }
}

h2 {
    @include adjust-font-size-to(28px);
    margin-top: .8em;
    &.subheader {
        margin-top: 0;
    }
    + .#{$row} {
        margin-top: 20px;
    }
}

h3 {
    @include adjust-font-size-to(22px);
}

h4 {
    @include adjust-font-size-to(18px);
}
