/* ==========================================================================
   Navigation
   ========================================================================== */

/*
   Basic navigation
   ========================================================================== */

.nav {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

/*
   Horizontal navigation
   ========================================================================== */

.nav-horizontal {
  li {
    display: inline-block;
  }

  a {
    padding: 0 5px;
    li:first-child & {
      padding-left: 0;
    }
  }
}

/*
   Vertical navigation
   ========================================================================== */

/*
   Nav bar
   ========================================================================== */

.nav-bar {
  width: 100%;
  border: 1px solid #CCC;
  .nav li {
    height: 42px;
    line-height: 42px;
  }
  .nav a {
    line-height: 42px;
    &:link:hover {
      background-color: #DDD;
    }
  }
}
