// ==========================================================================
// Accordions
// ==========================================================================

.accordion {
    .accordion-title {
        cursor: pointer;
    }
    .accordion-content {
        display: none;
        &.is-active {
            display: block;
        }
    }
}
