// ==========================================================================
// Badges
// ==========================================================================

.badge {
    display: inline-block;

    min-width: 10px;
    padding: 3px 7px;

    border-radius: 20px;
    background-color: #999;

    color: #fff;
    font-size: .8rem;
    line-height: 1;
}
