// ==========================================================================
// Labels
// ==========================================================================

.label {
    display: inline;

    padding: 0 10px;

    border-radius: 4px;
    background-color: #eee;

    font-size: .8rem;
}
