.list-group {
  margin: 0;
  padding: 0;
  overflow: hidden;
  li, .list-group-item {
    list-style: none;
  }
  &.list-group-zebra li:nth-child(even), &.list-group-zebra .list-group-item:nth-child(even) {
    background-color: #eeeeee;
  }
}
