/* ==========================================================================
   Media Block
   ========================================================================== */

.mediaBlock {
   display: flex;
   align-items: flex-start;
  .mediaBlock-img {
    margin-right: 1em;
  }
  .mediaBlock-content {
    flex: 1;
  }
  &.mediaBlock--right {
    flex-flow: row-reverse;
    .mediaBlock-img {
      text-align: right;
      margin-left: 1em;
      margin-right: 0;
    }
    .mediaBlock-title {
      text-align: right;
    }
    .mediaBlock-content {
      text-align: right;
    }
  }
}

/*==========  Stack  ==========*/

.mediaBlock--stack {
  flex-flow: column;
  align-items: stretch;
  .mediaBlock-img {
    margin: 0;
  }
  &.mediaBlock--center {
    .mediaBlock-img {
      text-align: center;
    }
    .mediaBlock-title {
      text-align: center;
    }
    .mediaBlock-content {
      text-align: center;
    }
  }
  &.mediaBlock--right {
    flex-flow: column;
  }
}
