/* ==========================================================================
   Media Block
   ========================================================================== */

.mediaBlock {
  @extend %clearfix;
  p:last-child {
    margin: 0;
  }
  .mediaBlock-img {
    float: left;
    max-width: 25%;
    min-height: 100px;
  }
  .mediaBlock-title {
    display: flex;
    float: left;
    flex-direction: column;
    width: 75%;

    justify-content: center;
  }
  .mediaBlock-content {
    display: block;
    float: left;
    width: 75%;
    overflow: hidden;
  }
  &.mediaBlock--right {
    .mediaBlock-img {
      float: right;
      text-align: right;
    }
    .mediaBlock-title {
      float: right;
      text-align: right;
    }
    .mediaBlock-content {
      float: right;
      text-align: right;
    }
  }
}

/*==========  Variation 2  ==========*/

.mediaBlock--v2 {
  .mediaBlock-img {
    min-height: 1px;
  }
  .mediaBlock-content {
    clear: both;
    width: 100%;
  }
  &.mediaBlock--right {
    .mediaBlock-img {
      float: right;
    }
    .mediaBlock-title {
      float: right;
      text-align: right;
    }
    .mediaBlock-content {
      float: right;
      text-align: right;
    }
  }
}

/*==========  Variation 3  ==========*/

.mediaBlock--stack {
  .mediaBlock-img {
    clear: both;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
  }
  .mediaBlock-title {
    clear: both;
    width: 100%;
  }
  .mediaBlock-content {
    clear: both;
    width: 100%;
  }
  &.mediaBlock--center {
    .mediaBlock-img {
      text-align: center;
    }
    .mediaBlock-title {
      text-align: center;
    }
    .mediaBlock-content {
      text-align: center;
    }
  }
}
