/* ==========================================================================
   Miscellaneous
   ========================================================================== */

/*
   Tooltips
   ========================================================================== */

.#{$tooltip}, [data-tooltip] {
  position: relative;
  display: inline-block;
  cursor: help;
  text-indent: 0 !important;
  border-bottom: 1px dotted #ccc;
}

.#{$tooltip}:before, .#{$tooltip}:after, [data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  z-index: 100;
  pointer-events:none;
  opacity: 0;
  // @include transition(0.3s ease);
  // @include transform(translate3d(0,0,0));
}

// Tooltip body
.#{$tooltip}:after {
  top: -12px;
  left: 50%;
  // @include transform(translate(-50%, -100%));
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  background: #333;
  background: rgba(0,0,0,.9);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
  content: attr(data-tooltip);
}

// Tooltip arrow
.#{$tooltip}:before {
  left: 50%;
  // @include transform(translate(-50%, -100%));
  content: "";
  z-index: 101;
  @include css-arrow(down, rgba(0,0,0,.9), 6px);
}

.#{$tooltip}:hover:before, .#{$tooltip}:hover:after {
  opacity: 1;
}

// Tooltip position (default is top)

// Tooltip right side
.#{$tooltip}[data-tooltip-position="right"]:after {
  margin-left: 12px;
  top: 50%;
  left: 100%;
  // @include transform(translate(0, -50%));
}

.#{$tooltip}[data-tooltip-position="right"]:before {
  @include css-arrow(left, rgba(0,0,0,.9), 6px);
  top: 50%;
  left: 100%;
  // @include transform(translate(0, -50%));
}

// Tooltip at the bottom
.#{$tooltip}[data-tooltip-position="bottom"]:after {
  top: 33px;
  // @include transform(translate(-50%, 0));
}

.#{$tooltip}[data-tooltip-position="bottom"]:before {
  @include css-arrow(up, rgba(0,0,0,.9), 6px);
  top: 100%;
  left: 50%;
  // @include transform(translate(-50%));
}

// Tooltip left side
.#{$tooltip}[data-tooltip-position="left"]:after {
  top: 50%;
  left: -12px;
  // @include transform(translate(-100%, -50%));
}

.#{$tooltip}[data-tooltip-position="left"]:before {
  @include css-arrow(right, rgba(0,0,0,.9), 6px);
  top: 50%;
  left: 0;
  // @include transform(translate(-100%, -50%));
}

/*
   Others
   ========================================================================== */

.keystroke, kbd {
  // @include adjust-font-size-to(14px);
  // @include border-radius($btn-radius);
  margin: 0;
  padding: 2px 4px 0px;
  border: solid 1px #333;
  background: #DDD;
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
