// ==========================================================================
// Tables
// TODO: Move to objects
// ==========================================================================

//
// Variables
// ==========================================================================

$table-border-color: rgba(0,0,0,.1);
$table-striped-color: rgba(0, 0, 0, .1);

//
// Base
// ==========================================================================

.table {
    width: 100%;
    margin-bottom: $base-line-height;

    table-layout: fixed;

    &.table--striped {
        tr:nth-child(even) {
            background: $table-striped-color;
        }
    }

    &.table--bordered {
        border-collapse: separate;
        th,
        td {
            border-left: 1px solid $table-border-color;
        }
        th:last-child,
        td:last-child {
            border-right: 1px solid $table-border-color;
        }
        thead {
            th,
            td {
                border-top: 1px solid $table-border-color;
                border-bottom: 1px solid $table-border-color;
            }
        }
        tbody {
            tr:first-child {
                th,
                td {
                    border-top: 1px solid $table-border-color;
                }
            }
            tr {
                th,
                td {
                    border-bottom: 1px solid $table-border-color;
                }
            }
        }
        tfoot {
            th,
            td {
                border-top: 1px solid $table-border-color;
                border-bottom: 1px solid $table-border-color;
            }
        }
    }
}
