// ==========================================================================
// Tabs
// ==========================================================================

.#{$tabs} {
    display: flex;
    flex-flow: column nowrap;

    max-width: 100%;
    margin-bottom: $base-line-height;
    .tabs-nav-container {
        overflow: hidden;
    }
    .#{$tabs-nav} {
        display: flex;
        position: relative;

        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;

            list-style: none;
        }
        a {
            display: block;

            text-decoration: none;

            cursor: pointer;
        }
    }
    .#{$tabs-content} {
        margin: 0;
        padding: 0;

        list-style: none;
        .#{$tab-pane} {
            display: none;
            &.is-active {
                display: block;
            }
        }
    }
    // Tabs Vertical
    &.tabs--vertical {
        flex-flow: row nowrap;
        .tabs-nav-container {
            min-width: 100px;
        }
        .#{$tabs-nav} {
            flex: 0 1 auto;
            flex-flow: column nowrap;
            align-items: stretch;
            a {
                margin: 0;
            }
        }
        .#{$tabs-content} {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row no wrap;
            align-items: stretch;

            overflow: hidden;
        }
        .#{$tab-pane} {
            width: 100%;
        }
    }
    // Tabs Right
    &.tabs--right {
        .tabs-nav-container {
            order: 1;
        }
    }
}
