/**
*
* Guidebook Stylesheet
*
**/


/*
   Variables
   ========================================================================== */
$sg-logo-color: #ffffff;
$sg-logo-bg-color: #222e3d;

$sg-sidebar-color: #1c2531;

$sg-intro-color: #39414d;

$sg-menu-level-1-color: #2980b9;
$sg-menu-level-2-color: #34495e;

$sg-font-text: "Roboto", sans-serif;
$sg-font-heading: "Montserrat", sans-serif;
$sg-font-monospace: "Source Code Pro", monospace;

$layout-width: 978px;

$background-color: #ffffff;

/*
   Imports
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Source+Code+Pro);

/*
   Helpers
   ========================================================================== */

%clearfix {
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*
   Media Queries
   ========================================================================== */

$screen-small: 320px;
$screen-medium: 720px;
$screen-large: 1024px;
$screen-xlarge: 1200px;

/*
   Globals
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body.sg {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

/*
   Grid Helpers
   ========================================================================== */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid [class*="col"] {
  position: relative;
  min-height: 40px;
  line-height: 40px;
  background-color: rgba(52, 152, 219,1.0);
}

.show-grid [class*="col"] p {
  margin: 10px 0;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: #FEFEFE;
  background-color: rgba(41, 128, 185,1.0);
  text-shadow: 0 1px 0 rgba(107, 6, 163, 1);
}

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.show-grid .show-grid [class*="col"] {
  margin-top: 5px;
}

.show-grid [class*="col"] [class*="col"] {
  outline: none;
}


// Grid overlay
#gridOverlay {
  position: relative;
  z-index: 9001;
  overflow: visible !important;
  width: 100%;
  margin: 0 auto;
  pointer-events: none;
  .grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
  }
  .grid-container div {
    float: left;
    height: 100%;
    background: rgba(170, 219, 245, 0.2);
    &:last-child {
      margin: 0;
    }
  }
}


/*
   Styleguide layout
   ========================================================================== */

.sg-bar {
  position: relative;
  z-index: 10000;
  display: flex;
  height: 1.5rem;
  font-family: $sg-font-text;
  font-size: 90%;
  background-color: #222E3D;

  align-items: center;
  justify-content: space-between;
  ul {
    height: 24px;
    margin: 0;
    padding: 0;
    li {
      display: block;
      float: left;
      height: 24px;
      margin: 0;
      padding: 0;
      border-left: 1px solid rgba(100,100,100,0.5);
    }
  }
  a,
  a:visited {
    display: block;
    height: 100%;
    padding: 0 10px;
    color: rgba(255,255,255,0.5);
  }
}

.sg-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
}

.sg-site-header {
  z-index: 1;
  width: 100vw;
  background-color: $sg-logo-bg-color;
  * {
    font-family: $sg-font-heading;
  }
  .sg-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.sg-page-header {
  width: 100vw;
  padding: 2em 0;
  background-color: $sg-intro-color;
  * {
    color: #FFF !important;
  }
  .sg-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.sg-content {
  display: flex;
  width: 100%;

  flex: 1;
  align-items: stretch;
  > .sg-wrapper {
    display: flex;

    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.sg-main {
  display: flex;

  order: 2;
  flex: 1 0 auto;
  justify-content: stretch;
  .sg-wrapper {
    width: $layout-width;
    padding: 0;
  }
}

.sg-toc {
  position: relative;
  width: 15%;
  padding: 5em 1em;

  order: 3;
}

.sg-sidebar {
  width: 15%;
  padding: 2em 2em 2em 0;

  flex: 0 0 auto;
  order: 1;
  p.sg,
  ul.sg li {
    color: #FFF;
  }
}


.sg-site-footer {
  width: 100%;
  padding: 0.5em 0;
  font-size: 0.8rem;
  color: #FFF;
  background-color: rgba(34.00, 34.00, 34.00, 1.00);
  p.sg {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFF;
  }
}

/*==========  Site Header  ==========*/

.sg-title {
  padding: 0;
  font-family: $sg-font-heading;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 60px;
  color: $sg-logo-color;
  .sg-logo {
    a {
      text-decoration: none;
      color: $sg-logo-color;
    }
  }
  @media screen and (max-width: $screen-small) {
    min-width: 100%;
    max-width: 100%;
    color: red;
  }
}

.sg-tools {
  padding: 0 3em;
  font-family: $sg-font-text;
  text-align: right;

  flex: 1;
  align-self: flex-end;
  align-content: center;
  @media screen and (max-width: $screen-small) {
    display: none;
  }
  ul {
    height: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      line-height: 60px;
    }
  }
}

/*==========  Main Content  ==========*/

.sg-section {
  width: 100%;
  padding: 2em 0;
  background-color: rgba(255, 255, 255, 1.00);
}

.sg-wrapper {
  width: 90%;
  padding: 0 2em;
  margin: 0 auto;
}

.sg-toc {
  #toc {
    position: fixed;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.2);
    &:empty {
      display: none;
    }
  }
  i {
    display: none;
  }
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a,
  a:link,
  a:visited {
    display: block;
    padding: 0 1em;
    font-family: $sg-font-text;
    line-height: 2;
    text-decoration: none;
    color: #666;
  }
  a:hover {
    color: tomato;
  }
  #toc > ol > li > a {
    font-weight: 500;
    background-color: rgba(0,0,0,0.02);
  }
  ol ol {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}


/*==========  Navigation  ==========*/

.sg-menu {
  @media screen and (max-width: $screen-small) {
    position: relative;
    top: 0;
    min-width: 100%;
    max-width: 100%;
  }
  * {
    font-family: $sg-font-text;
  }
  > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @media screen and (max-width: $screen-small) {
      position: relative;
      top: 0;
      min-width: 100%;
      max-width: 100%;
    }
    // Base
    li {
      position: relative;
      display: block;
      width: 100%;
      a {
        display: block;
        text-decoration: none;
      }
    }
    // Level 1
    > li {
      margin-bottom: 1em;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 2em;
      text-transform: uppercase;
      color: $sg-menu-level-1-color;
      > a {
        padding: 0 2rem;
        color: $sg-menu-level-1-color;
      }
    }
    // Level 2
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        text-transform: none;
      }
      a {
        padding: 0;
        color: $sg-menu-level-2-color;
      }
    }
  }
}

.sg-top-menu {
  align-self: flex-end;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    height: 60px;
    margin: 0;
    padding: 0;
  }
  a,
  a:visited {
    display: block;
    padding: 0 1em;
    line-height: 60px;
    text-decoration: none;
    color: #FFF;
  }
  a:hover {
    background: #222e3d;
  }
}

/*
   Styleguide examples
   ========================================================================== */

.sg-example {
  margin: 2em 0;
  background-color: $background-color;
}

.sg-grid, ul.sg-grid {
  display: flex;
  margin: 0 -15px;
  padding: 0;
  list-style: none;

  flex-flow: row wrap;
}

.sg-grid-item {
  padding: 15px;
  text-align: center;
  background-color: $background-color;

  flex: 1;
  .sg-swatch {
    height: 200px;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .sg-label {
    padding: 0.5em 0;
    font-size: 1em;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}


.sg-example-snippet {
  @extend %clearfix;

  width: $layout-width + 40px;

  flex: 0 0 ($layout-width);
  > div {
    min-height: 0!important;
    margin-bottom: 0!important;
  }
  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin: 1rem 0!important;
  }
}

.sg-example-code {
  overflow: hidden;
  margin: 2em 0;
  border-radius: 8px;
  background-color: rgba(245, 242, 240, 1);

  flex: 1 0 auto;
  pre {
    margin: 0;
    padding: 0;
  }
  .sg-btn {
    margin: 1em;
    font-size: 10px;
    border-width: 1px;
    border-color: #CCC;
    background-color: #FFF;
  }
  .sg-btn-copy {
    font-family: $sg-font-heading;
  }
}

.sg-example-code pre {
  margin: 0;
}

/*
   Styleguide typography
   ========================================================================== */

%font-common {
  font-family: $sg-font-heading;
  color: #444;
}

// Main content
h1.sg,
.sg-wrapper > h1 {
  @extend %font-common;

  margin: 0 0 0.5em 0;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -1px;
  border-bottom: 5px solid rgba(0,0,0,0.1);
}

h2.sg,
.sg-wrapper > h2 {
  @extend %font-common;

  margin: 2rem 0 1rem 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
  color: #7C90A8;
}

h3.sg,
.sg-wrapper > h3 {
  @extend %font-common;

  margin: 0 0 0.5em 0;
  font-size: 1.125em;
  line-height: 1.22222222em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

h4.sg,
.sg-wrapper > h4 {
  @extend %font-common;

  margin: 0;
  font-size: 0.83rem;
  line-height: 1rem;
}

h5.sg,
.sg-wrapper > h5 {
  @extend %font-common;

  font-size: 0.75rem;
  line-height: 1rem;
}

h6.sg,
.sg-wrapper > h6 {
  @extend %font-common;
}

h3.sg + h4.sg {
  margin-top: 1rem;
}

.sg-content .sg-wrapper > p {
  @extend %font-common;

  font-family: $sg-font-text;
  font-size: 1em;
  line-height: 1.25em;
}


ul.sg li {
  @extend %font-common;

  font-family: $sg-font-text;
}

// Page Header
.sg-page-title {
  @extend %font-common;

  margin: 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em;
}

.sg-page-category {
  @extend %font-common;

  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

.sg-page-description {
  font-size: 1.2em;
  margin: 0;
}

.sg-content .sg-wrapper > p.sg-pattern-description {
  font-size: 1.5em;
}

.sg-note {
  margin-bottom: 1rem;
  padding: 0.75em 1em;
  border: 3px solid #B2DFEE;
  border-radius: 8px;
  background-color: #ECF0F4;
  p {
    @extend %font-common;

    font-family: $sg-font-text;
    font-size: 14px;
    color: #36AFD7;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*
   Buttons
   ========================================================================== */

.sg-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #56A7D4;
  border: 2px solid #56A7D4;
  border-radius: 8px;
  background-color: rgba(255,255,255,0);
  &:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
    background-color: #56A7D4;
  }
}

/*
   Table
   ========================================================================== */
$table-border: 1px solid #CCC;

table.sg, .sg-wrapper > table {
  width: 100%;
  margin: 1em 0;
  border-spacing: 0;
  border-collapse: separate;
  th,
  td {
    padding: 1em;
    border-bottom: $table-border;
    border-left: $table-border;
  }
  thead {
    th {
      text-align: left;
      border-top: $table-border;
      border-bottom-width: 2px;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        border-right: $table-border;
        border-top-right-radius: 4px;
      }
    }
  }
  tbody {
    th {
      text-align: left;
    }
    th:last-child {
      border-right: $table-border;
    }
    td:last-child {
      border-right: $table-border;
    }
    tr:last-child th,
    tr:last-child td {
      border-bottom: $table-border;
    }
    tr:last-child th:first-child,
    tr:last-child td:first-child {
      border-bottom-left-radius: 4px;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 4px;
    }
  }
}
