// ==========================================================================
// Class Names
// ==========================================================================

// Globals /helpers/globals
$left: left;
$right: right;
$center: center;
$text-left: text-left;
$text-right: text-right;
$text-center: text-center;
$text-up: text-up;
$no-margin-top: no-margin-top;
$no-margin-bottom: no-margin-bottom;

$img-left: img-left;
$img-right: img-right;
$img-p-top: img-p-top;
$img-p-right: img-p-right;
$img-p-bottom: img-p-bottom;
$img-p-left: img-p-left;
$hide: hidden;

$clearfix: clearfix;

$no-padding: no-padding;
$no-margin: no-margin;

// Branding: /helpers/branding
$logo: logo;
$slogan: slogan;

// Hero Unit: /helpers/hero-unit
$hero-unit: hero-unit;

// Alerts: /helpers/alerts
$message: message;
$message-info: message-info;
$message-error: message-error;

// Buttons: /helpers/buttons
$btn: btn;
$btn-primary: btn-primary;
$btn-secondary: btn-secondary;
$btn-alt: btn-alt;
$btn-highlight: btn-highlight;
$btn-disabled: btn-disabled;

$btn-xsmall: btn-xsmall;
$btn-small: btn-small;
$btn-medium: btn-medium;
$btn-large: btn-large;
$btn-xlarge: btn-xlarge;
$btn-full: btn-full;

$btn-up: btn-up;
$btn-down: btn-down;
$btn-right: btn-right;

$btn-group: btn-group;

// Media: /helpers/media
$img-fit: img-fit;
$img-rounded: img-rounded;
$img-circle: img-circle;
$img-frame: img-frame;

// Misc: /helpers/misc
$tooltip: tooltip;

// Tabs: /helpers/tabs
$tabs: tabs;
$tabs-nav: tabs-nav;
$tabs-content: tabs-content;
$tab-pane: tab-pane;
$tab-pane-inner: tab-pane-inner;
$tabs-vertical: tabs-vertical;
$tabs-right: tabs-right;
$tabs-pills: tabs-pills;
$tabs-box: tabs-box;

// Footer: /layout/footer
$copyright: copyright;

// Grid: /layout/grid
$wrapper: wrapper;
$first: first;
$last: last;
$full-width: full-width;

$col: col-m-;
$prefix: prefix-;
$suffix: suffix-;
$col-centered: col-centered;

$equal-height: equal-height;

$no-gutter: no-gutter;

$col-1of2: col-m-1of2;
$col-1of3: col-m-1of3;
$col-2of3: col-m-2of3;
$col-1of4: col-m-1of4;
$col-3of4: col-m-3of4;
$col-1of5: col-m-1of5;
$col-2of5: col-m-2of5;
$col-3of5: col-m-3of5;
$col-4of5: col-m-4of5;

$tiles: tiles-;
$tile: tile;

// Layout
$site-layout: site-layout;
$site-header: site-header;
$site-content: site-content;
$site-footer: site-footer;

$page-header: page-header;
$page-content: page-content;

$section: section;
$section-default: section-default;
$section-highlight: section-highlight;
$section-header: section-header;

$row: row;
$row-highlight: row-highlight;
$row-divider-top: row-divider-top;
$row-divider-bottom: row-divider-bottom;

$panel: panel;
$panel-header: panel-header;
$panel-inner: panel-inner;
$panel-footer: panel-footer;
$actions-container: actions-container;
$panel-highlight: panel-highlight;
$panel-group: panel-group;
$panel-group-header: panel-group-header;
$panel-group-footer: panel-group-footer;

// Navigation: /navigation/navs
$nav: nav;
$nav-primary: nav-primary;
$nav-secondary: nav-secondary;
$nav-horizontal: nav-horizontal;
$nav-bar: nav-bar;

$pagination: pagination;
