//
// Default settings for Backpack
//

$body-color: #FFF;

// Font settings
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$accent-font: Georgia, Times, "Times New Roman", serif;

$base-font-size: 16px;
$base-line-height: 24px;

$text-light: 200;
$text-regular: 400;
$text-bold: 600;

$text-color-primary: #333;
$text-color-secondary: #999;
$text-color-highlight: #000;
$text-color-reverse: #F0F0F0;

$link-color: #999;
$link-hover-color: #666;
$link-active-color: #666;
$link-visited-color: #666;

$border-color: #333;
$border-color-reverse: #F0F0F0;

// Grid & Layout Settings
$total-columns: 12;
$column-width: 54px;
$gutter-width: 30px;

$mobile-total-columns: 8;
$mobile-column-width: 27px;
$mobile-gutter-width: 12px;

$layout-width: $total-columns * ($column-width + $gutter-width) - $gutter-width;
$mobile-layout-width: $mobile-total-columns * ($mobile-column-width + $mobile-gutter-width) - $gutter-width;

$section-padding: $gutter-width 0 0 0;

// Hero unit
$hero-unit-bg: #CCC;

// Media Queries
$screen-xsmall: 320px !default;
$screen-small: 768px !default;
$screen-medium: 1024px !default;
$screen-large: 1280px !default;
$screen-xlarge: 1440px !default;

// Layout Elements Settings
$box-border-width: 1px;
$box-padding: 10px;

// Forms
$input-padding: 0.5em;
$input-radius: 3px;

// Button Settings
$btn-radius: 5px;

$btn-color: #dfe0e5;
$btn-color-primary: #3382dc;
$btn-color-secondary: #90cb4f;
$btn-color-alt: #b5001b;
$btn-color-highlight: #ebb32c;

// Colors
$light-gray: #CBC9CF;
$medium-gray: #67666A;
$dark-gray: #1E1E1F;

// Media
$img-rounded-radius: 5px;

// Navigation
$nav-height: 45px;









