/* ==========================================================================
   Base
   ========================================================================== */

*,
*:before,
*:after {
  @include box-sizing(border-box);
  -ms-box-sizing: border-box;
}

// @include establish-baseline;

html,
body {
  color: $text-color-primary;
  font-family: $base-font-family;
  // @include adjust-font-size-to($base-font-size);
  font-style: normal;
  font-weight: $text-regular;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
}
