/* ==========================================================================
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: $heading-color;
  text-rendering: optimizeLegibility;
  small {
    font-weight: normal;
    color: lighten($heading-color, 20%);
  }
}

h1 {
  // @include adjust-font-size-to($h1-font-size);
  // margin: 0 0 rhythm(1, $h1-font-size) 0;
  font-size: $h1-font-size;
}

h2 {
  // @include adjust-font-size-to($h2-font-size);
  // margin: 0 0 rhythm(1, $h2-font-size) 0;
  font-size: $h2-font-size;
}

h3 {
  // @include adjust-font-size-to($h3-font-size);
  // margin: 0 0 rhythm(1, $h3-font-size) 0;
  font-size: $h3-font-size;
}

h4 {
  // @include adjust-font-size-to($h4-font-size);
  // margin: 0 0 rhythm(1, $h4-font-size) 0;
  font-size: $h4-font-size;
}

h5 {
  // @include adjust-font-size-to($h5-font-size);
  // margin: 0 0 rhythm(1, $h5-font-size) 0;
  font-size: $h5-font-size;
}

h6 {
  // @include adjust-font-size-to($h6-font-size);
  // margin: 0 0 rhythm(1, $h6-font-size) 0;
  font-size: $h6-font-size;
}
