---
layout: default.hbs
---
<section class="sg-section sg-intro">
  <div class="sg-wrapper">
    <h1 class="sg">{{capitalizeFirst section}}</h1>
  </div>
</section>
<section class="sg-section">
  <div class="sg-wrapper">
    <h2>{{title}}</h2>
    {{> body }}
  </div>
</section>
