---
layout: component.hbs
section: module
title: Media Block
---
<h3 class="sg">Basic Media Block</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="media-block">
    <div class="media-img">
      <img src="http://dummyimage.com/32x32/4d494d/686a82.gif" alt=""> </div>
    <div class="media-content">
      <h3>Hello world</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
  </div>
</div>
