---
layout: component.hbs
section: module
title: Messages
---

<h3 class="sg">Basic messages</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="message">
    <p>Hello world</p>
  </div>
</div>
