---
layout: component.hbs
section: module
title: Navigations
---
<h3 class="sg">Horizontal Navigation</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav>
    <ul class="nav nav-horizontal">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </nav>
</div>

<h3 class="sg">Vertical Navigation</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav>
    <ul class="nav nav-vertical">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </nav>
</div>

<h3 class="sg">Distributed nav</h3>
<p>Use <code>.nav-distribute</code> to evenly distribute the navigation links</p>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav>
    <ul class="nav nav-horizontal nav-distribute">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </nav>
</div>

<h3 class="sg">Navbar</h3>
<h4 class="sg">Horizontal navbar</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav class="navbar">
    <div class="navbar-title">
      Menu
    </div>
    <ul class="nav nav-horizontal">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
    <div class="navbar-form navbar-right">
      <form action="">
        <label class="hidden" for="search">Search</label>
        <input type="search" placeholder="search">
        <input class="hidden" type="submit" value="Search">
      </form>
    </div>
  </nav>
</div>

<h4 class="sg">Vertical navbar</h4>
<p class="sg-notes">When using <code>.navbar-vertical</code>, the <code>.nav</code> inside get the <code>.nav-vertical</code> style.</p>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav class="navbar navbar-vertical">
    <div class="navbar-title">
      Menu
    </div>
    <ul class="nav nav-vertical">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </nav>
</div>
<h4 class="sg">Distributed navbar</h4>
<div data-xrayhtml class="sg-example prism zeroclip">
  <nav class="navbar navbar-distribute">
    <div class="navbar-title">
      Menu
    </div>
    <ul class="nav nav-horizontal">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
    <div class="navbar-form navbar-right">
      <form action="">
        <label class="hidden" for="search">Search</label>
        <input type="search" placeholder="search">
        <input class="hidden" type="submit" value="Search">
      </form>
    </div>
  </nav>
</div>
