---
layout: component.hbs
section: module
title: Panels
---
<h3 class="sg">Basic Panel</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="panel">
    <div class="panel-content">
      <div class="panel-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
        </p>
      </div>
    </div>
  </div>
</div>

<h3 class="sg">Panel with header and footer</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-inner">Panel header</div>
    </div>
    <div class="panel-content">
      <div class="panel-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
        </p>
      </div>
    </div>
    <div class="panel-footer">
      <div class="panel-inner">The panel footer</div>
    </div>
  </div>
</div>

<h3 class="sg">Panel with columns</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-inner">Panel header</div>
    </div>
    <div class="panel-content">
      <div class="row">
        <div class="col-1of3">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
        <div class="col-1of3">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
        <div class="col-1of3">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="panel-inner">The panel footer</div>
    </div>
  </div>
</div>

<h3 class="sg">Panel group</h3>
<div data-xrayhtml class="sg-example prism zeroclip">
  <div class="panel">
    <div class="row">
      <div class="col-1of3">
        <div class="panel-header">
          <div class="panel-inner">Panel header</div>
        </div>
        <div class="panel-content">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
        <div class="panel-footer">
          <div class="panel-inner">The panel footer</div>
        </div>
      </div>
      <div class="col-1of3">
        <div class="panel-header">
          <div class="panel-inner">Panel header</div>
        </div>
        <div class="panel-content">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
        <div class="panel-footer">
          <div class="panel-inner">The panel footer</div>
        </div>
      </div>
      <div class="col-1of3">
        <div class="panel-header">
          <div class="panel-inner">Panel header</div>
        </div>
        <div class="panel-content">
          <div class="panel-inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, repellendus, quaerat, hic nesciunt itaque odio aliquid quibusdam molestiae numquam in a fugiat amet reprehenderit nisi voluptates vitae odit quidem eius.
            </p>
          </div>
        </div>
        <div class="panel-footer">
          <div class="panel-inner">The panel footer</div>
        </div>
      </div>
    </div>
  </div>
</div>
