html    {
  font: 100%/1.5 $base-font-family;
}

body  {
  text-rendering: optimizeLegibility;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==========================================================================
   Text
   ========================================================================== */

p {
  // @include adjust-font-size-to($base-font-size);
  // margin: rhythm(1, $base-font-size) 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 1em;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  position: relative;
  // padding: .5em;
  // margin: -.5em;
  color: $link-color;
  transition: all 0.3s ease-out;
  &:link {
    outline: none;
  }
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &:visited {
    color: $link-visited-color;
  }
  &:focus {

  }
}

strong {
  font-weight: $text-bold;
}

em {
  font-style: italic;
}

.text-big {
  font-size: 2em;
}

small, .text-small {
  font-size: 80%;
}

.lead {
  font-size: 1.3em;
}

.text-muted {
  color: lighten($text-color-primary, 40%);
}

.text-up {
  text-transform: uppercase;
}

// Text alignment

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Abbreviations and acronyms

abbr[title] {
  cursor: help;
}

// Quotes

blockquote {
  p {}
  cite {
    font-style: italic;
    display: inline-block;
    &:before {
      content: "—";
    }
  }
}

blockquote:before,
blockquote:after {
  content: ""
}

q:before,
q:after {
  content: "";
}

// Preformatted

code,
pre {
  font-family: monospace, serif;
  font-size: 1em;
}

// Addresses

address {
  display: block;
}

// Misc

cite {
  font-style: normal;
}

// Print

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  p,
  h2,
  h3 {
    orphans: 3; /* http://css-tricks.com/almanac/properties/o/orphans/ */
    widows: 3;  /* http://css-tricks.com/almanac/properties/w/widows/ */
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
