@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Source+Code+Pro);
/**
*
* Guidebook Stylesheet
*
**/
/*
   Variables
   ========================================================================== */
/*
   Imports
   ========================================================================== */
/*
   Helpers
   ========================================================================== */
.sg-example-snippet {
  *zoom: 1; }
.sg-example-snippet:before, .sg-example-snippet:after {
  content: "";
  display: table; }
.sg-example-snippet:after {
  clear: both; }

/*
   Media Queries
   ========================================================================== */
/*
   Globals
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

body.sg {
  margin: 0;
  padding: 0;
  background-color: #eeeeee; }

/*
   Grid Helpers
   ========================================================================== */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px; }

.show-grid [class*="col"] {
  position: relative;
  min-height: 40px;
  line-height: 40px;
  background-color: rgba(107, 6, 163, 0.5); }

.show-grid [class*="col"] p {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  color: #fefefe;
  font-weight: 600;
  text-shadow: 0 1px 0 #6b06a3;
  background-color: rgba(107, 6, 163, 0.5); }

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0; }

.show-grid .show-grid [class*="col"] {
  margin-top: 5px; }

.show-grid [class*="col"] [class*="col"] {
  outline: none; }

#gridOverlay {
  position: relative;
  z-index: 9001;
  overflow: visible !important;
  width: 100%;
  margin: 0 auto;
  pointer-events: none; }
  #gridOverlay .grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0; }
  #gridOverlay .grid-container div {
    float: left;
    height: 100%;
    background: rgba(170, 219, 245, 0.2); }
    #gridOverlay .grid-container div:last-child {
      margin: 0; }

/*
   Styleguide layout
   ========================================================================== */
.sg-bar {
  position: relative;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  background-color: #222E3D; }
  .sg-bar ul {
    height: 24px;
    margin: 0;
    padding: 0; }
    .sg-bar ul li {
      display: block;
      float: left;
      height: 24px;
      margin: 0;
      padding: 0;
      border-left: 1px solid rgba(100, 100, 100, 0.5); }
  .sg-bar a, .sg-bar a:visited {
    display: block;
    height: 100%;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5); }

.sg-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }

.sg-site-header {
  width: 100%;
  z-index: 1;
  background-color: #222e3d; }
  .sg-site-header * {
    font-family: "Montserrat", sans-serif; }

.sg-content {
  width: 1400px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  @media screen and (max-width: 320px) {
    .sg-content {
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      width: 100%; } }

.sg-site-footer {
  width: 100%;
  padding: 10px 20px;
  color: #FFF;
  background-color: #222222; }
  .sg-site-footer p.sg {
    color: #FFF;
    margin: 0; }

.sg-page-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #39414d; }
  .sg-page-header * {
    color: #fff !important; }

.sg-main {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 85%;
  padding: 0;
  background-color: white; }
  @media screen and (max-width: 320px) {
    .sg-main {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      min-width: 100%;
      max-width: 100%; } }
  .sg-main .sg-wrapper {
    width: 100%;
    max-width: 978px; }

.sg-sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 15%;
  padding: 2rem 0; }
  @media screen and (max-width: 320px) {
    .sg-sidebar {
      min-width: 100%;
      max-width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      background-color: #1c2531; } }
  .sg-sidebar p.sg, .sg-sidebar ul.sg li {
    color: #ffffff; }

/*==========  Site Header  ==========*/
.sg-title {
  padding: 0;
  font-size: 1.5em;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff; }
  .sg-title .sg-logo a {
    color: #fff;
    text-decoration: none; }
  @media screen and (max-width: 320px) {
    .sg-title {
      min-width: 100%;
      max-width: 100%;
      color: red; } }

.sg-tools {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding: 0 3em;
  font-family: "Roboto", sans-serif;
  text-align: right; }
  @media screen and (max-width: 320px) {
    .sg-tools {
      display: none; } }
  .sg-tools ul {
    padding: 0;
    margin: 0;
    height: 60px;
    list-style-type: none; }
    .sg-tools ul li {
      line-height: 60px; }

/*==========  Main Content  ==========*/
.sg-section {
  padding: 2em 4em; }

.sg-wrapper {
  width: 1400px;
  margin: 0 auto; }

/*==========  Navigation  ==========*/
@media screen and (max-width: 320px) {
  .sg-menu {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    top: 0; } }
.sg-menu * {
  font-family: "Roboto", sans-serif; }
.sg-menu > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media screen and (max-width: 320px) {
    .sg-menu > ul {
      position: relative;
      min-width: 100%;
      max-width: 100%;
      top: 0; } }
  .sg-menu > ul li {
    position: relative;
    display: block;
    width: 100%; }
    .sg-menu > ul li a {
      display: block;
      text-decoration: none; }
  .sg-menu > ul > li {
    padding: 0;
    margin-bottom: 1em;
    font-size: 16px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
    color: #2980b9; }
    .sg-menu > ul > li > a {
      padding: 0 2rem;
      color: #2980b9; }
  .sg-menu > ul ul {
    margin: 0;
    padding: 0; }
    .sg-menu > ul ul li {
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      text-transform: none; }
    .sg-menu > ul ul a {
      padding: 0;
      color: #34495e; }

/*
   Styleguide examples
   ========================================================================== */
.sg-example {
  margin: 2em 0;
  background-color: #ffffff; }

.sg-example-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 2em 0; }

.sg-example-block {
  margin: 1em 0;
  width: 10%;
  text-align: center;
  background-color: #ffffff;
  overflow: hidden; }
  .sg-example-block:hover {
    background-color: #f8f8f8;
    border-radius: 8px; }
  .sg-example-block .sg-example-content {
    padding: 1em; }
    .sg-example-block .sg-example-content.sg-swatch {
      height: 200px; }
  .sg-example-block .sg-example-label {
    font-size: 1em; }

.sg-example-snippet {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 978px;
      -ms-flex: 0 0 978px;
          flex: 0 0 978px;
  width: 1018px; }
  .sg-example-snippet > div {
    margin-bottom: 0 !important;
    min-height: 0 !important; }
  .sg-example-snippet > h1, .sg-example-snippet > h2, .sg-example-snippet > h3, .sg-example-snippet > h4, .sg-example-snippet > h5, .sg-example-snippet > h6 {
    margin: 1rem 0 !important; }

.sg-example-code {
  overflow: hidden;
  margin: 2em 0 0 0;
  border-radius: 8px;
  background-color: #f5f2f0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .sg-example-code pre {
    margin: 0;
    padding: 0; }
  .sg-example-code .sg-btn {
    margin: 1em;
    font-size: 10px;
    border-width: 1px;
    border-color: #CCC;
    background-color: #fff; }
  .sg-example-code .sg-btn-copy {
    font-family: "Montserrat", sans-serif; }

.sg-example-code pre {
  margin: 0; }

/*
   Styleguide typography
   ========================================================================== */
h1.sg, h2.sg, h3.sg, h4.sg, h5.sg, h6.sg, p.sg, ul.sg li, .sg-note p {
  font-family: "Montserrat", sans-serif;
  color: #444; }

h1.sg {
  margin: 0 0 0.2em 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.05em; }

h2.sg {
  margin: 0 0 0.5em 0;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -1px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1); }

h3.sg {
  margin: 2rem 0 0 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
  color: #7c90a8; }

h4.sg {
  margin: 0 0 0.5em 0;
  font-size: 1.125em;
  line-height: 1.22222em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

h5.sg {
  margin: 0;
  font-size: 0.83rem;
  line-height: 1rem; }

h6.sg {
  font-size: 0.75rem;
  line-height: 1rem; }

h3.sg + h4.sg {
  margin-top: 1rem; }

p.sg {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.25em; }

ul.sg li {
  font-family: "Roboto", sans-serif; }

.sg-note {
  margin-bottom: 1rem;
  padding: 0.75em 1em;
  border: 3px solid #b2dfee;
  border-radius: 8px;
  background-color: #ecf0f4; }
  .sg-note p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #36afd7; }
    .sg-note p:last-child {
      margin-bottom: 0; }

/*
   Buttons
   ========================================================================== */
.sg-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25em;
  color: #56a7d4;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #56a7d4;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase; }
  .sg-btn:hover {
    color: white;
    background-color: #56a7d4;
    text-decoration: none; }

/*
   Table
   ========================================================================== */
table.sg {
  width: 100%;
  margin: 1em 0;
  border-spacing: 0;
  border-collapse: separate; }
  table.sg th, table.sg td {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc; }
  table.sg thead th {
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom-width: 2px; }
    table.sg thead th:first-child {
      border-top-left-radius: 4px; }
    table.sg thead th:last-child {
      border-right: 1px solid #ccc;
      border-top-right-radius: 4px; }
  table.sg tbody th {
    text-align: left; }
  table.sg tbody th:last-child {
    border-right: 1px solid #ccc; }
  table.sg tbody td:last-child {
    border-right: 1px solid #ccc; }
  table.sg tbody tr:last-child th, table.sg tbody tr:last-child td {
    border-bottom: 1px solid #ccc; }
  table.sg tbody tr:last-child th:first-child, table.sg tbody tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  table.sg tbody tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }
