/* ==========================================================================
   Globals
   ========================================================================== */

*,
*:before,
*:after {
  @include box-sizing(border-box);
  -ms-box-sizing: border-box;
}

html,
body {
  font-family: $base-font;
  font-style: normal;
  font-weight: 400;
  line-height: $base-line-height;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
}
