/* ==========================================================================
   Buttons
   ========================================================================== */

/*
   Basic buttons
   ========================================================================== */

.#{$btn} {
	padding: 5px 10px;
	margin-right: 0;
	display: inline-block;
	position: relative;
	background-color: $btn-color;
	border: 1px solid darken($btn-color, 15%);
	color: #333;
	font-size: 16px;
	line-height: 1.8;
	text-decoration: none;
	// States
	&:hover {
		background-color: darken($btn-color, 5%);
		color: #333;
	}
	// Colors
	&.#{$btn-primary} {
		background-color: $btn-color-primary;
		border-color: darken($btn-color-primary, 15%);
		color: #FFF;
		&:hover {
			background-color: darken($btn-color-primary, 10%);
		}
	}
	&.#{$btn-secondary} {
		color: #FFF;
		background-color: $btn-color-secondary;
		border-color: darken($btn-color-secondary, 15%);
		&:hover {
			background-color: darken($btn-color-secondary, 10%);
		}
	}
	&.#{$btn-alt} {
		color: #FFF;
		background-color: $btn-color-alt;
		border-color: darken($btn-color-alt, 15%);
		&:hover {
			background-color: darken($btn-color-alt, 10%);
		}
	}
	&.#{$btn-highlight} {
		color: #FFF;
		background-color: $btn-color-highlight;
		border-color: darken($btn-color-highlight, 15%);
		&:hover {
			background-color: darken($btn-color-highlight, 10%);
		}
	}
	&.#{$btn-disabled} {
		background-color: $btn-color;
		border-color: darken($btn-color, 15%);
		cursor: default;
		opacity: 0.5;
		&:hover {
			background-color: $btn-color;
			border-color: darken($btn-color, 15%);
		}
	}
	// Sizes
	&.#{$btn-xsmall} {
		font-size: 12px;
		line-height: 1;
	}
	&.#{$btn-small} {
		font-size: 14px;
		line-height: 1.4;
	}
	&.#{$btn-medium} {
		font-size: 16px;
		line-height: 1.8;
	}
	&.#{$btn-large} {
		font-size: 18px;
		line-height: 2;
	}
	&.#{$btn-xlarge} {
		font-size: 24px;
		line-height: 2;
	}
	&.#{$btn-full} {
		float: left;
		width: 100%;
		clear: both;
		text-align: center;
	}

	// Decoration
	&.#{$btn-up}, &.#{$btn-down}, &.#{$btn-right} {
		padding-right: 30px;
		&:after {
			content: "";
			display: block;
			position: absolute;
		}
	}
	&.#{$btn-up} {
		&:after {
			@include css-arrow(up, rgba(0, 0, 0, 0.5), 6px);
			top: 35%;
			right: 10px;
			margin-top: -2px;
		}
	}
	&.#{$btn-down} {
		&:after {
			@include css-arrow(down, rgba(0, 0, 0, 0.5), 6px);
			top: 50%;
			right: 10px;
			margin-top: -2px;
		}
	}

	&.#{$btn-right }{
		&:after {
			@include css-arrow(right, rgba(0, 0, 0, 0.5), 6px);
			top: 35%;
			right: 10px;
		}
	}
}

/*
   Button Group
   ========================================================================== */

.#{$btn-group} {
	list-style: none;
	padding: 0;
	@include pie-clearfix;
	li {
		float: left;
		padding: 0;
		margin: 0 0 0 -1px;
		&:first-child {
			margin-left: 0;
		}
		// This prevent from rounding the middle buttons
		&:not(:first-child) .#{$btn} {
			@include border-top-left-radius(0);
			@include border-bottom-left-radius(0);
			border-left-width: 0;
		}
		&:not(:last-child) .#{$btn} {
			@include border-top-right-radius(0);
			@include border-bottom-right-radius(0);
		}
	}
	.#{$btn} {
		margin-right: 0;
	}
}
