%first {
  margin-left: 0 !important;
}

%last {
  margin-right: 0 !important;
}

.#{$wrapper} {
  width: $layout-width;
  margin: 0 auto;
}

.#{$first} {
  @extend %first;
}

.#{$last} {
  @extend %last;
}

.#{$full-width} {
  width: 100%;
  @include clearfix;
}

.#{$row} {
  padding: 0;
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
  @include clearfix;
  & + .#{$row} {
    margin-top: $gutter-width;
  }
}

[class*=#{$col}] {
  float: left;
  padding: 0 $gutter-width / 2;
  position: relative;
  min-height: 1px;
}

[class*=#{$col}]:first-of-type {
  @extend %first;
}

[class*=#{$col}] [class*=#{$col}]:first-of-type {
  margin-left: $gutter-width / 2;
}

[class*=#{$col}]:last-child {
  @extend %last;
}

[class*=#{$col}] [class*=#{$col}]:last-of-type {
  margin-right: $gutter-width / 2;
}

.#{$col-centered} {
  float: none;
  margin: 0 auto;
}

.equal-height {
  display: table;
  .gutter {
    display: block;
    width: 1px;
  }
  > .gutter:last-child {
    display: none;
  }
  [class*="col-"] {
    float: none;
    display: table-cell;
    position: relative;  }
  .panel {
    float: none;
    display: table-cell;
    position: relative;
  }
}

/*
   Columns
   ========================================================================== */

// Default - 12 Cols Layout

@for $i from 1 through $total-columns {
  .#{$col}#{$i} {
    width: percentage($i / $total-columns);
  }
  .#{$prefix}#{$i} {
  }
  .#{$suffix}#{$i} {
  }
}

// Fractionnal col with gutter

.#{$col-1of2} {
  width: 50%;
}

.#{$col-1of3} {
  width: 33.333333333%;
}

.#{$col-2of3} {
  width: 66.666666667%;
}

.#{$col-1of4} {
  width: 25%;
}

.#{$col-3of4} {
  width: 75%;
}

.#{$col-1of5} {
  width: 20%;
}

.#{$col-2of5} {
  width: 40%;
}

.#{$col-3of5} {
  width: 60%;
}

.#{$col-4of5} {
  width: 80%;
}

// // Tiles

// [class^="#{tiles}"], [class*="#{tiles}"] {
//     display: block;
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
// }

// .#{tile} {
//     display: block;
//     height: auto;
//     float: left;
//     padding-bottom:0;
//     margin-bottom: $base-line-height / 2;
// }

// .#{tiles}-2 .#{tile} {
//     @extend .#{$col-1of2};
//     &:nth-of-type(2n) { @extend %last; }
// }

// .#{tiles}-3 .#{tile} {
//     @extend .#{$col-1of3};
//     &:nth-of-type(3n) { @extend %last; }
//     &:nth-of-type(3n+1) { clear: left; }
// }

// .#{tiles}-4 .#{tile} {
//     @extend .#{$col-1of4};
//     &:nth-of-type(4n) { @extend %last; }
//     &:nth-of-type(4n+1) { clear: left; }
// }

// .#{tiles}-5 .#{tile} {
//   @extend .#{$col-1of5};
//   &:nth-of-type(5n) { @extend %last; }
//   &:nth-of-type(5n+1) { clear: left; }
// }

// Media Queries

@media screen and (max-width: $screen-xsmall) {

}

@media screen and (min-width: $screen-small + 1) and (max-width: $screen-small - 1) {

}

@media screen and (min-width: $screen-medium) {

}

@media screen and (min-width: $screen-large) and (max-width: $screen-xlarge - 1) {

}

@media screen and (min-width: $screen-xlarge) {

}
