figure {}

figcaption {
  @include adjust-font-size-to(12px);
}

img {}

img.#{$img-fit} {
  max-width: 100%;
  height: auto;
}

img.#{$img-rounded} {
  @include border-radius($img-rounded-radius);
}

img.#{$img-circle} {
  @include border-radius(100%);
}

img.#{$img-frame} {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
  padding: 4px;
}

video {}
