.panel {
  margin-bottom: $base-line-height;
}

.panel-header {
  padding: $gutter-width / 2;
}

.panel-content {
  padding: $gutter-width / 2;
}

.panel-footer {
  padding: $gutter-width / 2;
}

.panel-group {
  margin-bottom: $base-line-height;
  .panel, .panel-header, .panel-footer {
    border-radius: 0;
    margin-bottom: 0;
  }
}

/*
   Panel group
   ========================================================================== */

.panel-group {
  .row {
    display: table;
    width: 100%;
  }
  .row [class*=#{$col}] {
    display: table-cell;
    float: none;
    padding: 0;
    position: relative;
  }
}
