// ==========================================================================
// Components - Labels
// @status: Not Ready
// ==========================================================================

//
// Class Names
// ==========================================================================

$label: Label !default;
$label-small: Label--small !default;
$label-large: Label--large !default;

//
// Labels - Core
// ==========================================================================

.#{$label} {
    display: inline;

    padding: 0 10px;

    border-radius: 4px;
    background-color: #eee;

    font-size: .8rem;
}

//
// Label - Sizes
// ==========================================================================

.#{$label-small} {

}

.#{$label-large} {

}
