// ==========================================================================
// Components - Media Blocks
// @status: Not Ready
// ==========================================================================

.mediaBlock {
    display: flex;
    align-items: flex-start;
    .mediaBlock-img {
        margin-right: 1em;
    }
    .mediaBlock-content {
        flex: 1;
    }
    &.mediaBlock--right {
        flex-flow: row-reverse;
        .mediaBlock-img {
            margin-right: 0;
            margin-left: 1em;

            text-align: right;
        }
        .mediaBlock-title {
            text-align: right;
        }
        .mediaBlock-content {
            text-align: right;
        }
    }
}

//
// Stacks
// ==========================================================================

.mediaBlock--stack {
    flex-flow: column;
    align-items: stretch;
    .mediaBlock-img {
        margin: 0;
    }
    &.mediaBlock--center {
        .mediaBlock-img {
            text-align: center;
        }
        .mediaBlock-title {
            text-align: center;
        }
        .mediaBlock-content {
            text-align: center;
        }
    }
    &.mediaBlock--right {
        flex-flow: column;
    }
}
