// ==========================================================================
// Components - Miscellaneous
// @status: Not Ready
// ==========================================================================

//
// Others
// ==========================================================================

.keystroke, kbd {
  margin: 0;
  padding: 2px 4px 0px;
  border: solid 1px #333;
  background: #DDD;
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
