// ==========================================================================
// Navigations
// ==========================================================================

//
// Variables
// ==========================================================================



//
// Basic Navigation
// ==========================================================================

.Nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    &-item {
        flex: 0 1 auto;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
    }

    &-divider {
        height: 0;

        border-right: 1px solid #ccc;
    }
}

//
// Distributed navigation
// ==========================================================================

.Nav--distribute {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    li {
        flex: 1;
    }
}

// ==========================================================================
// Nav bar
// ==========================================================================

.Navbar {
    @extend %clearfix;

    width: 100%;

    border: 1px solid #ccc;
    background-color: #fff;
    a {
        line-height: 40px;
    }

    .Navbar-title {
        padding-right: 10px;
        padding-left: 10px;
        float: left;

        line-height: 40px;
    }

    &.Navbar--vertical .Navbar-title {
        float: none;
    }

    .Nav {
        float: left;
    }

    .Navbar-form {
        float: left;
        form,
        input,
        button {
            margin: 0;
            float: left;
        }
    }

    .Navbar--right {
        float: right;
        > li > ul {
            right: -1px;
            left: auto;
        }
        > li > ul > li > ul {
            right: 100%;
            left: auto;
        }
    }
    &.Navbar--distribute {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        .Navbar-title,
        .Navbar-form {
            flex: none;
        }
        .Nav {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
            li {
                flex: 1;
            }
        }
    }
}
