// ==========================================================================
// Panels
// ==========================================================================

//
// Class Names
// ==========================================================================

$panel: Panel !default;
$panel-header: Panel-header !default;
$panel-content: Panel-content !default;
$panel-footer: Panel-footer !default;

//
// Core
// ==========================================================================

.#{$panel} {
    .#{$panel-header},
    .#{$panel-content},
    .#{$panel-footer} {
    }
}
