/* ==========================================================================
   Grid
   ========================================================================== */

%first {
  margin-left: 0 !important;
}

%last {
  margin-right: 0 !important;
}

.#{$wrapper} {
  max-width: $layout-width;
  _width: $layout-width;
  // padding-right: $gutter-width / 2;
  // padding-left: $gutter-width / 2;
  margin-left: auto;
  margin-right: auto;
  @extend %clearfix;
}

.first {
  @extend %first;
}

.last {
  @extend %last;
}

/*
   Rows
   ========================================================================== */

%row {
  display: block;
  position: relative;
  @extend %clearfix;
  [class*="col-"] {
    float: left;
    padding: 0 $gutter-width / 2;
    min-height: 1px;
    @extend %clearfix;
  }
}

.row {
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
}


// Flexbox
@import "flexbox";
@if $modernizr == true {

  .no-flexbox {
    .row {
      @extend %row;
    }
  }

  .flexbox{
    .row {
      @extend %flexbox;
      @include flex-flow(row wrap);
      [class*="col-"] {
        @include flex(none);
        padding-right: $gutter-width / 2;
        padding-left: $gutter-width / 2;
      }
      .col {
        @include flex(1);
        min-width: percentage(1 / $total-columns);
        padding-right: $gutter-width / 2;
        padding-left: $gutter-width / 2;
      }
    }
    .row--top {
      @include align-items(flex-start);
    }
    .row--bottom {
      @include align-items(flex-end);
    }
    .row--center {
      @include align-items(center);
    }
    .col--top {
      @include align-self(flex-start);
    }
    .col--bottom {
      @include align-self(flex-end);
    }
    .col--center {
      @include align-self(center);
    }
  }
}
@else {
  .row {
    @extend %row;
  }
}

/*
   Default - 12 Cols Layout
   ========================================================================== */

@for $i from 1 through $total-columns {
  .col-#{$i} {
    width: percentage($i / $total-columns);
  }
  .col-offset-#{$i} {
    margin-left: percentage($i / $total-columns);
  }
}

/*
   Columns - Pourcentages
   ========================================================================== */

.col-full, .col-1of1 {
  width: 100%;
}

.col-1of2, .col-2of4 {
  width: 50%;
}

.col-1of3 {
  width: 33.3333%;
}

.col-2of3 {
  width: 66.6666%;
}

.col-1of4 {
  width: 25%;
}

.col-3of4 {
  width: 75%;
}

.col-1of5 {
  width: 20%;
}

.col-2of5 {
  width: 40%;
}

.col-3of5 {
  width: 60%;
}

.col-4of5 {
  width: 80%;
}

/*
   Columns offset
   ========================================================================== */

.col-offset-1of2, .col-offset-2of4 {
  margin-left: 50%;
}

.col-offset-1of3 {
  margin-left: 33.3333%;
}

.col-offset-2of3 {
  margin-left: 66.6666%;
}

.col-offset-1of4 {
  margin-left: 25%;
}

.col-offset-3of4 {
  margin-left: 75%;
}

.col-pull-1of3 {
  right: 33.3333%;
}

.col-pull-2of3 {
  right: 66.6666%;
}

.col-push-1of3 {
  left: 33.3333%;
}

.col-push-2of3 {
  left: 66.6666%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/*
   Equal Height Columns
   Might be replaced by flexbox
   ========================================================================== */

.equal-height {
  display: table;
  .gutter {
    display: block;
    width: 1px;
  }
  > .gutter:last-child {
    display: none;
  }
  [class*="col-"] {
    float: none;
    display: table-cell;
    position: relative;  }
  .panel {
    float: none;
    display: table-cell;
    position: relative;
  }
}

/*
   Block grid
   ========================================================================== */

// [class*="#{$block-grid}"] {
//   display: block;
//   padding: 0;
//   @extend %clearfix;
//   .block-grid-col, & > li {
//     display: inline;
//     float: left;
//     height: auto;
//     padding: 0 $gutter-width/2;
//     list-style: none;
//   }
//   .block-grid-col:nth-child(n), li:nth-child(n) {
//     clear: none;
//   }
// }

// .#{$block-grid}-2 {
//   .block-grid-col, & > li {
//     width: 50%;
//   }
//   .block-grid-col:nth-child(2n+1), li:nth-child(2n+1) {
//     clear: left;
//   }
// }

// .#{$block-grid}-3 {
//   .block-grid-col, & > li {
//     width: 33.333333%;

//   }
//   .block-grid-col:nth-child(3n+1), li:nth-child(3n+1) {
//     clear: left;
//   }
// }

// .#{$block-grid}-4 {
//   .block-grid-col, & > li {
//     width: 25%;
//   }
//   .block-grid-col:nth-child(4n+1), li:nth-child(4n+1) {
//     clear: left;
//   }
// }

// .#{$block-grid}-5 {
//   .block-grid-col, & > li {
//     width: 20%;
//   }
//   .block-grid-col:nth-child(5n+1), li:nth-child(5n+1) {
//     clear: left;
//   }
// }

@if $modernizr == true {

  .flexbox {
    [class*="#{$block-grid}"] {
      @extend %flexbox;
      .col {
        @include flex(none);
      }
    }

    @for $i from 2 through $total-columns {
      .#{$block-grid}-#{$i} {
        .col {
          width: 100% / $i;
        }
      }
    }
  }
}


@media screen and (max-width: 480px) {
  [class*="col-"] {
    width: 100%;
  }
}
