// ==========================================================================
// Tools - Sizes
// @status: Not Ready
// ==========================================================================

@mixin size($nbCols, $totalCols) {
  $width: ($nbCols / $totalCols) * 100%;
  width: $width;
  max-width: $width;
  flex-basis: $width;
}
