<h1>The example</h1>
{{!-- Typography --}}
<h2>Typography</h2>
<h3>Headings</h3>
<div class="sg-example">
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3. Heading</h3>
  <h4>h4. Heading</h4>
  <h5>h5. Heading</h5>
  <h6>h6. Heading</h6>
</div>
<div class="sg-example">
  <h1>
    h1. Heading
    <small>Secondary text</small>
  </h1>
  <h2>
    h2. Heading
    <small>Secondary text</small>
  </h2>
  <h3>
    h3. Heading
    <small>Secondary text</small>
  </h3>
  <h4>
    h4. Heading
    <small>Secondary text</small>
  </h4>
  <h5>
    h5. Heading
    <small>Secondary text</small>
  </h5>
  <h6>
    h6. Heading
    <small>Secondary text</small>
  </h6>
</div>
<h3>Body text</h3>
<div class="sg-example">
  <p>
    Those two men, the assassins. I believe I was their prime target, but that somehow they were steered away from me to my brother-in-law. Because of this 'intervention' I am alive. And yet, I think that this person was playing a much deeper game. He made that phone call because he wanted a shootout not a silent assassination.
  </p>
</div>
<h4>Lead text</h4>
<div class="sg-example">
  <p class="lead">
    No speeches. Short speech. You lost your partner today. What's his name - Emilio? Emilio is going to prison.
  </p>
</div>
<h4>Text alignment</h4>
<div class="sg-example">
  <p class="text-left">Jesse Jackson? Do you even... ah, I see you have a telephone at least. </p>
  <p class="text-center">Saul, Saul... this man that we spoke of before, this... </p>
  <p class="text-right">Think about it! It's brilliant. So go ahead. If you think that I am capable of doing this, then go ahead.</p>
</div>
<h3>Lists</h3>
<h4>Unordered list</h4>
<div class="sg-example">
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>
      Item 3
      <ul>
        <li>Item 3.1</li>
        <li>Item 3.2</li>
      </ul>
    </li>
    <li>Item 4</li>
  </ul>
</div>
<h4>Ordered list</h4>
<div class="sg-example">
  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>
      Item 3
      <ul>
        <li>Item 3.1</li>
        <li>Item 3.2</li>
      </ul>
    </li>
    <li>Item 4</li>
  </ol>
</div>
<h4>Blockquote</h4>
<blockquote>
  <p>My partner was about to get himself shot. I intervened. He was angry because those two dealers of yours had just murdered an eleven year-old boy. Then again, maybe he thought it was you who gave the order.</p>
</blockquote>
<blockquote>
  <p>Option A, you kill me right here and now. Apparently I've made that very easy for you. You can kill me, no witnesses and then spend the next few weeks or months tracking down Jesse Pinkman and you kill him too.</p>
  <small>Cooking master <cite title="Source Title">Heizenberg</cite></small>
</blockquote>

{{!-- Code --}}
<h2>Code</h2>
<div class="sg-example">
  <p>Wrap your code with a <code>&lt;div&gt;</code></p>
</div>
<h3>Keyboard</h3>
<div class="sg-example">
  <p>Just press the <kbd>Cmd</kbd> key</p>
</div>

{{!-- Grids --}}
<h2>Grids</h2>
<div class="sg-example">
  <div class="row show-grid">
    <div class="col-m-1of2">
      <p>1 of 2 columns</p>
    </div>
    <div class="col-m-1of2">
      <p>1 of 2 columns</p>
    </div>
  </div>
</div>

{{!-- Buttons --}}
<h2>Buttons</h2>
<h3>Default buttons</h3>
<div class="sg-example">
  <a href="#" class="btn">Button</a>
</div>
<h3>Button sizes</h3>
<div class="sg-example">
  <a href="#" class="btn btn-xsmall">X-Small button</a>
  <a href="#" class="btn btn-small">Small button</a>
  <a href="#" class="btn btn-medium">Medium button</a>
  <a href="#" class="btn btn-large">Large button</a>
  <a href="#" class="btn btn-xlarge">X-Large button</a>
</div>

{{!-- Panels --}}
<h2>Panels</h2>
<div class="sg-example">
  <div class="panel">
    <div class="panel-content">
      <p>We're both adults. I can't pretend I don't know that person is you. I want there to be no confusion. I know I owe you my life. And more than that, I respect the strategy. In your position, I would have done the same. One issue, which troubles me, I don't know what happens when our three-month contract ends. You know why I do this. I want security for my family.</p>
    </div>
  </div>
</div>
<div class="sg-example">
  <div class="panel">
    <div class="panel-header">The rewards would be... enormous.</div>
    <div class="panel-content">
      <p>We're both adults. I can't pretend I don't know that person is you. I want there to be no confusion. I know I owe you my life. And more than that, I respect the strategy. In your position, I would have done the same. One issue, which troubles me, I don't know what happens when our three-month contract ends. You know why I do this. I want security for my family.</p>
    </div>
    <div class="panel-footer">
      I'm thinking... maybe you and I could partner up.
    </div>
  </div>
</div>

{{!-- Wells --}}
<h2>Wells</h2>
<div class="sg-example">
  <div class="well">
    <div class="well-header">The rewards would be... enormous.</div>
    <div class="well-content">
      <p>We're both adults. I can't pretend I don't know that person is you. I want there to be no confusion. I know I owe you my life. And more than that, I respect the strategy. In your position, I would have done the same. One issue, which troubles me, I don't know what happens when our three-month contract ends. You know why I do this. I want security for my family.</p>
    </div>
    <div class="well-footer">
      I'm thinking... maybe you and I could partner up.
    </div>
  </div>
</div>

{{!-- Media --}}
<h2>Media</h2>
<h3>Images</h3>
<div class="sg-example">
  <img src="http://d13yacurqjgara.cloudfront.net/users/204522/screenshots/1315994/citizen_s_ts.jpg" alt="Citizen's" width="400" height="300">
</div>
<div class="sg-example">
  <figure>
    <img src="http://d13yacurqjgara.cloudfront.net/users/253392/screenshots/1319907/ryanteo.gif" alt="Ryan teo's logo - Animated GIF" width="400" height="300">
    <figcaption>
      Ryan teo's logo - Animated GIF (<a href="http://dribbble.com/shots/1319907-Ryan-teo-s-logo-Animated-GIF">Dribbble</a>)
    </figcaption>
  </figure>
</div>
<h3>Videos</h3>
<div class="sg-example">
  <video controls="controls" poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" />
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
    <img alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" />
  </video>
</div>

{{!-- Tables --}}
<h2>Tables</h2>
<table class="table">
  <caption>An example of a default table</caption>
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
    </tr>
  </tbody>
</table>

{{!-- Forms --}}
<h2>Forms</h2>
<h3>Inputs</h3>
<div class="sg-example">
  <form action="">
    <label for="">A label</label>
    <input type="text" placeholder="Type your text here">
    <label for="">Textarea</label>
    <textarea name="" id="" cols="30" rows="10" placeholder="Type your text here"></textarea>
    <label for="">Select</label>
    <select name="" id="">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
    </select>
    <label for="">Checkboxes</label>
    <input type="checkbox"><label for="">Checkbox 1</label>
    <input type="checkbox"><label for="">Checkbox 2</label>
    <input type="checkbox"><label for="">Checkbox 3</label>
    <label for="">Radio buttons</label>
    <input type="radio"><label for="">Radio 1</label>
    <input type="radio"><label for="">Radio 2</label>
    <input type="radio"><label for="">Radio 3</label>
    <label for="">Password</label>
    <input type="password">
    <label for="">Datetime</label>
    <input type="datetime">
    <label for="">Phone</label>
    <input type="phone">
    <label for="">File</label>
    <input type="file">
    <label for="">Progress</label>
    <progress></progress>
    <fieldset>
      <legend>The legendary fieldset</legend>
      <label for="">Mr. Label</label>
      <input type="text" placeholder="Type your text here">
    </fieldset>
  </form>
</div>
<h3>Search form</h3>
<form action="" class="search-form">
  <input type="search" placeholder="Search this site" class="search-field">
  <button class="btn">Search</button>
</form>

{{!-- Messages --}}

<div class="message message-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>Warning, it's dangerous out there</p>
</div>

{{!-- Misc --}}
<h2>Misc</h2>
<h3>Badges</h3>
<span class="badge">2</span>
<span class="badge">13</span>
<h3>Labels</h3>
<span class="label">Hello</span>
