// Vars

$sg-logo-color: #999999;

$sg-sidebar-color: #1B1B1D;

$sg-menu-level-1-color: #444444;
$sg-menu-level-2-color: #666666;

$styleguide-font: "Proxima Nova", "Helvetica Neue";
$layout-width: 978px;

$background-color: #ffffff;

// Imports
@import "prism";
@import 'xrayhtml';

// Helpers
%clearfix {
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Media Queries

$screen-small: 320px;
$screen-medium: 720px;
$screen-large: 1024px;
$screen-xlarge: 1200px;

// Globals

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

// Grid Helper

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid [class*="col-"] {
  background-color: #ccc;
  min-height: 40px;
  line-height: 40px;
  position: relative;
}

.show-grid [class*="col-"] p {
  color: #222;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  text-align: center;
}

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.show-grid .show-grid [class*="col-"] {
  margin-top: 5px;
}

.show-grid [class*="col-"] [class*="col-"] {
  outline: none;
}

.show-grid [class*="col-"] [class*="col-"] [class*="col-"] {
}

// Styleguide layout
.sg-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.sg-header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-width: 100%;
  z-index: 1;
  * {
    font-family: $styleguide-font;
  }
  @media screen and (max-width: $screen-small){
    flex-direction: column;
    position: relative;
  }
}

.sg-title {
  padding: 0 1em;
  font-size: 1.5rem;
  line-height: 2em;
  font-family: $styleguide-font;
  font-weight: bold;
  color: $sg-logo-color;
  @media screen and (max-width: $screen-small){
    min-width: 100%;
    max-width: 100%;
  }
}

.sg-tools {
  flex: 1;
  align-self: flex-end;
  align-content: center;
  padding: 0 3em;
  font-family: $styleguide-font;
  text-align: right;
  @media screen and (max-width: $screen-small){
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    height: 60px;
    list-style-type: none;
    li {
      line-height: 60px;
    }
  }
}

.sg-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  @media screen and (max-width: $screen-small){
    flex-direction: column;
    margin-top: 0;
  }
}

.sg-sidebar {
  width: 20%;
  min-width: 200px;
  // max-width: 300px;
  padding: 2em 0;
  background-color: $sg-sidebar-color;
  @media screen and (max-width: $screen-small){
    position: relative;
    min-width: 100%;
    max-width: 100%;
    top: 0;
  }
  p.sg, ul.sg li {
    color: #ffffff;
  }
}

.sg-menu {
  @media screen and (max-width: $screen-small){
    position: relative;
    min-width: 100%;
    max-width: 100%;
    top: 0;
  }
  * {
    font-family: $styleguide-font;
  }
  > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @media screen and (max-width: $screen-small){
      position: relative;
      min-width: 100%;
      max-width: 100%;
      top: 0;
    }
    // Base
    li {
      position: relative;
      display: block;
      width: 100%;
      a {
        display: block;
        text-decoration: none;
        &:hover {
          color: #ffffff;
        }
      }
    }
    // Level 1
    > li {
      padding: 0 1em;
      margin-bottom: 1em;
      font-size: 1.5rem;
      line-height: 2em;
      color: $sg-menu-level-1-color;
      a {
        color: $sg-menu-level-1-color;
      }
    }
    // Level 2
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        line-height: 2em;
        text-transform: uppercase;
      }
      a {
        color: $sg-menu-level-2-color;
      }
    }
  }
}

.sg-main {
  padding: 0;
  background-color: rgba(238.00, 238.00, 238.00, 1.00);
  @media screen and (min-width: $screen-medium){
    min-width: 100%;
    max-width: 100%;
  }
  @media screen and (max-width: $screen-small){
    position: relative;
    min-width: 100%;
    max-width: 100%;
    top: 0;
  }
}

.sg-section {
  padding: 2em 4em;
  border-bottom: 1px solid #cccccc;
}

.sg-intro {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #303132;
  * {
    color: #ffffff!important;
  }
}

.sg-wrapper {
  max-width: $layout-width;
}

:target {
  display: block;
}

.sg-footer {
  padding: 10px 20px;
  background-color: rgba(34.00, 34.00, 34.00, 1.00);
  @media screen and (max-width: $screen-small){
    position: relative;
    min-width: 100%;
    max-width: 100%;
    top: 0;
  }
  p {
    margin: 0;
  }
}

// Styleguide examples

.sg-example {
  position: relative;
  background-color: $background-color;
  padding: 0;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  @extend %clearfix;
}

.sg-example:before {
  content: "Example";
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  color: #666666;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-radius: 0 0 6px 0;
}

.sg-example-grid {
  display: flex;
  flex-wrap: wrap;
}

.sg-example-block {
  width: 22%;
  margin-right: 4%;
  margin-bottom: 1em;
  text-align: center;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  @extend %clearfix;
  &:nth-child(4n) {
    margin-right: 0;
  }

  .sg-example-content {
    padding: 1em;
    &.sg-swatch {
      height: 200px;
    }
  }
  .sg-example-label {
    padding: 0 1em;
    border-top: 1px solid #ebebeb;
  }
}

.sg-example-snippet {
  padding: 20px;
}

.sg-example-code {
  margin: 0;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.sg-example-code pre {
  margin: 0;
}

.sg-example-code pre code {
  // display: block;
  // font-family: 'Droid Sans Mono', monospace;
  // color: #333;
  margin: 0;
}

p code {
  // font-family: 'Droid Sans Mono', monospace;
  // background-color: #F9F2F4;
  // color: #C7254E;
}

// Styleguide typography

%font-common {
  color: #444444;
  font-family: $styleguide-font;
}

h1.sg {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  @extend %font-common;
}

h2.sg {
  font-size: 48px;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  @extend %font-common;
}

h3.sg {
  font-size: 24px;
  line-height: 2rem;
  margin-bottom: 2rem;
  @extend %font-common;
}

h4.sg {
  font-size: 1rem;
  line-height: 1rem;
  @extend %font-common;
}

h5.sg {
  font-size: 0.83rem;
  line-height: 1rem;
  @extend %font-common;
}

h6.sg {
  font-size: 0.75rem;
  line-height: 1rem;
  @extend %font-common;
}

p.sg {
 @extend %font-common;
}

ul.sg li {
  @extend %font-common;
}

.sg-notes {
  padding: 0.75em 1em;
  margin-bottom: 1rem;
  background-color: #ECF0F4;
  border: 3px solid #B2DFEE;
  border-radius: 8px;
  p {
    @extend %font-common;
    font-size: 14px;
    color: #36afd7;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Buttons

.sg-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    text-decoration: none;
  }
}
