/* ==========================================================================
   Grid
   ========================================================================== */

%first {
  margin-left: 0 !important;
}

%last {
  margin-right: 0 !important;
}

.first {
  @extend %first;
}

.last {
  @extend %last;
}

.#{$wrapper} {
  max-width: $layout-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
}


/*
   Rows
   ========================================================================== */

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$gutter-width / 2);
}

.no-flexbox {
  .row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

/* 
   Auto Columns
   ========================================================================== */

[class~="col"] {
  flex: 1;
  padding: 0 ($gutter-width / 2);
}

[class*="col-"] {
  flex: 0 1 auto;
  padding: 0 ($gutter-width / 2);
}

// Old Browsers Support
.no-flexbox {
  [class~="col"], [class*="col-"] {
    display: table-cell;
  }
}


/*
   Default - 12 Cols Layout
   ========================================================================== */

@for $i from 1 through $total-columns {
  .col-#{$i} {
    width: percentage($i / $total-columns);
  }
  .col-offset-#{$i} {
    margin-left: percentage($i / $total-columns);
  }
}

@for $i from 1 through $total-columns {
  .col-#{$i}of12 {
    width: percentage($i / $total-columns);
  }
  .col-offset-#{$i}of12 {
    margin-left: percentage($i / $total-columns);
  }
}

/*
   Columns - Pourcentages
   ========================================================================== */

.col-full, .col-1of1 {
  width: 100%;
}

.col-1of2, .col-2of4 {
  width: 50%;
}

.col-1of3 {
  width: 33.3333%;
}

.col-2of3 {
  width: 66.6666%;
}

.col-1of4 {
  width: 25%;
}

.col-3of4 {
  width: 75%;
}

.col-1of5 {
  width: 20%;
}

.col-2of5 {
  width: 40%;
}

.col-3of5 {
  width: 60%;
}

.col-4of5 {
  width: 80%;
}

/*
   Columns offset
   ========================================================================== */

.col-offset-1of2, .col-offset-2of4 {
  margin-left: 50%;
}

.col-offset-1of3 {
  margin-left: 33.3333%;
}

.col-offset-2of3 {
  margin-left: 66.6666%;
}

.col-offset-1of4 {
  margin-left: 25%;
}

.col-offset-3of4 {
  margin-left: 75%;
}

.col-pull-1of3 {
  right: 33.3333%;
}

.col-pull-2of3 {
  right: 66.6666%;
}

.col-push-1of3 {
  left: 33.3333%;
}

.col-push-2of3 {
  left: 66.6666%;
}

/* 
   Responsive
   ========================================================================== */

@media screen and (max-width: $screen-xsmall) {
  [class*="col-"] {
    width: 100%;
  }
}