/* ==========================================================================
   Variables
   ========================================================================== */

$white: #FFFFFF;
$white-rich: #ECF0F1;

$gray-light: #E4E4E4;
$gray: #BDC3C7;
$gray-dark: #36454F;

$blue: #00ABEA;
$blue-dark: #009CD5;

$sg-logo-color: #FFF;
$sg-header-bg-color: $gray-dark;

$sg-sidebar-bg-color: $gray-light;

$sg-intro-color: $white;
$sg-component-color: $white;

$sg-menu-level-1-color: $gray-dark;
$sg-menu-level-2-color: $blue-dark;
$sg-menu-level-2-color-hover: $blue;

$sg-footer-bg-color: $gray-dark;

$sg-font-text: "Roboto", sans-serif;
$sg-font-heading: "Montserrat", sans-serif;
$sg-font-monospace: "Source Code Pro", monospace;

$layout-width: 978px;

$background-color: #ffffff;


/* ==========================================================================
   Media Queries
   ========================================================================== */

/*$screen-small: 320px;
$screen-medium: 720px;
$screen-large: 1024px;
$screen-xlarge: 1200px;*/
