/* ==========================================================================
   Variables
   ========================================================================== */

$sg-logo-color: #ffffff;
$sg-header-bg-color: #222e3d;

$sg-sidebar-color: #1c2531;

$sg-intro-color: #39414d;

$sg-menu-level-1-color: #2980b9;
$sg-menu-level-2-color: #34495e;

$sg-footer-bg-color: #222e3d;

$sg-font-text: "Roboto", sans-serif;
$sg-font-heading: "Montserrat", sans-serif;
$sg-font-monospace: "Source Code Pro", monospace;

$layout-width: 978px;

$background-color: #ffffff;


/* ==========================================================================
   Media Queries
   ========================================================================== */

/*$screen-small: 320px;
$screen-medium: 720px;
$screen-large: 1024px;
$screen-xlarge: 1200px;*/
