/*
   Footer
   ========================================================================== */

sg-footer {
    display: flex;
    font-family: $sg-font-text;
    background-color: $sg-footer-bg-color;
    color: #fff;
    .sg-footer {
        flex: 1;
        align-items: center;
        font-size: 0.85em;
        .sg-wrapper {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}
