// ==========================================================================
// Layout
// ==========================================================================

.sg-layout {
    display: flex;
    flex-flow: column nowrap;

    min-height: 100vh;
}

.sg-content {
    flex: 1;

    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    .sg-main {
        display: flex;
        flex-direction: column;
        flex: 1;
        order: 2;
    }
}
